<@controller namespace="modules::fulltextsearch::pres::documentcontroller" file="search_v2_controller" class="search_v2_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring" />
<font style="font-size: 26px; font weight: bold;"><html:getstring namespace="modules::fulltextsearch" config="language" entry="Title" /></font>
<br />
<br />
<html:getstring namespace="modules::fulltextsearch" config="language" entry="Text" />
<br />
<br />
<html:placeholder name="SearchV2" />
<br />
<br />
<html:placeholder name="Result" />

<html:template name="Deactivated_de">
  <strong>Hinweis:</strong>
  <br />
  Die Suche ist in der Offline-Version deaktiviert. Um die Suche benutzen zu k&ouml;nnen, besuchen
  Sie bitte die Webseite des Adventure-PHP-Frameworks unter <a href="http://www.adventure-php-framework.org/Seite/044-Suche/~/sites_demosite_biz-action/setLanguage/lang/de" target="_blank" title="Suche">www.adventure-php-framework.org</a>.
</html:template>

<html:template name="Deactivated_en">
  <strong>Please note:</strong>
  <br />
  The search feature is disabled in the offline version of the demo page. To use the search, please
  visit the adventure php framework page under
  <a href="http://www.adventure-php-framework.org/Page/044-Search/~/sites_demosite_biz-action/setLanguage/lang/en" target="_blank" title="Search">www.adventure-php-framework.org</a>.
</html:template>

<html:form name="SearchV2" method="post">
  <strong><form:getstring namespace="modules::fulltextsearch" config="language" entry="Title" />:</strong><form:text name="SearchString" style="margin-left: 10px; margin-right: 10px;" class="eingabe_feld" validate="true" button="Search" /><form:button name="Search" class="eingabe_feld" value="GO"/>
</html:form>

<html:template name="Result">
  <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <template:placeholder name="Title" />
  <table cellpadding="0" cellspacing="0" style="margin-left: 15px;">
    <tr>
      <td style="width: 120px;"><strong><template:getstring namespace="modules::fulltextsearch" config="language" entry="Result.Lang" />:</strong></td>
      <td><template:placeholder name="Language" /></td>
    </tr>
    <tr>
      <td style="width: 120px;"><strong><template:getstring namespace="modules::fulltextsearch" config="language" entry="Result.Mod" />:</strong></td>
      <td><template:placeholder name="LastMod" /></td>
    </tr>
    <tr>
      <td style="width: 120px;"><strong><template:getstring namespace="modules::fulltextsearch" config="language" entry="Result.Perma" />:</strong></td>
      <td><em><template:placeholder name="PermaLink" /></em></td>
    </tr>
    <tr>
      <td style="width: 120px;"><strong><template:getstring namespace="modules::fulltextsearch" config="language" entry="Result.Count" />:</strong>&nbsp;</td>
      <td><template:placeholder name="WordCount" /></td>
    </tr>
    <tr>
      <td style="width: 120px;"><strong><template:getstring namespace="modules::fulltextsearch" config="language" entry="Result.Word" />:</strong></td>
      <td><template:placeholder name="IndexWord" /></td>
    </tr>
  </table>
  <br />
  <br />
</html:template>

<html:template name="NoSearchResult_de">
  <strong>Hinweis:</strong>
  <br />
  Mit dem eingegebenen Suchwort konnte kein Treffer erziehlt werden. Bitte versuchen Sie es mit einem
  anderen Suchwort! Sollten Sie dann immer noch keinen Treffer erziehlt haben, hinterlassen Sie bitte
  eine Nachricht &uuml;ber das
  <a href="/Seite/034-Kontakt-Formular/~/sites_demosite_biz-action/setLanguage/lang/de" title="Kontakt-Formular">Kontakt-Formular</a> oder erstellen einen Post im
  <a href="http://forum.adventure-php-framework.org/de/" title="Forum" target="_blank">Forum</a>.
</html:template>

<html:template name="NoSearchResult_en">
  <strong>Note:</strong>
  <br />
  With the given search word no hit could be found. Please try with another search string! If you
  still achieved no hit, please leave a message in the
  <a href="/Page/034-Contact-form/~/sites_demosite_biz-action/setLanguage/lang/en" title="contact form">contact form</a> or create a new thread in the
  <a href="http://forum.adventure-php-framework.org/en/" title="forum" target="_blank">forum</a>.
</html:template>