<@controller
class="APF\extensions\news\pres\documentcontroller\backend\NewsEditController"
@>
<html:form name="edit" id="news-edit">
   <form:success>
      <div class="news-edit-success">
         <html:getstring namespace="APF\extensions\news" config="labels.ini" entry="Form.Success"/>
      </div>
   </form:success>
   <form:error>
      <div class="news-edit-error">
         <html:getstring namespace="APF\extensions\news" config="labels.ini" entry="Form.Error"/>
      </div>
   </form:error>
   <fieldset>
      <label for="news-edit-title">
         <html:getstring
               namespace="APF\extensions\news"
               config="labels.ini"
               entry="Form.Title"
               />
         :
      </label>
      <form:text id="news-edit-title" name="news-edit-title" maxlength="100"/>
      <br/>

      <label for="news-edit-user">
         <html:getstring
               namespace="APF\extensions\news"
               config="labels.ini"
               entry="Form.User"
               />
         :
      </label>
      <form:text id="news-edit-user" name="news-edit-user" maxlength="100"/>
      <br/>

      <label for="news-edit-text">
         <html:getstring
               namespace="APF\extensions\news"
               config="labels.ini"
               entry="Form.Text"
               />
         :
      </label><br/>
      <form:area name="news-edit-text" id="news-edit-text"/>
      <br/>
      <form:button id="news-edit-btn" name="send" value=""/>
   </fieldset>

   <form:addfilter
         class="APF\tools\form\filter\StripTagsFilter"
         button="send"
         control="news-edit-title|news-edit-user"
         />

   <form:addvalidator
         class="APF\tools\form\validator\TextLengthValidator"
         button="send"
         control="news-edit-title|news-edit-text"
         />

</html:form>

<html:template name="notfound">
   <div class="news-edit-error">
      <html:getstring namespace="APF\extensions\news" config="labels.ini" entry="Form.NotFound"/>
   </div>
</html:template>
