<@controller namespace="modules::termine::pres::documentcontroller" file="termine_v2_controller" class="termine_v2_controller" @>
<html:placeholder name="Content" />

<html:template name="Zeile_Normal">
  <table border="0" cellpadding="0" cellspacing="0" style="width: 90%; border-bottom: 1px solid black;">
    <tr>
      <td width="25" height="25" valign="bottom">
        <template:placeholder name="AufklappLink" />
      </td>
      <td width="14%" align="left" valign="middle" style="padding-left: 2px;"><font size="2" face="Arial, Helvetica, sans-serif"><template:placeholder name="Datum" /></font></td>
      <td width="70%" valign="middle" style="padding-left: 8px;"><font size="2" face="Arial, Helvetica, sans-serif"><template:placeholder name="Text" /></font></td>
      <td width="13%" align="center" valign="middle"><template:placeholder name="Link" /></td>
    </tr>
  </table>
  <table width="100" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td width="100" height="3" valign="top"><img src="spacer.gif" width="100" height="3" /></td>
   </tr>
  </table>
</html:template>


<html:template name="AufklappLink">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Titel" />"><img src="<template:placeholder name="Bild" />" border="0" /></a>
</html:template>


<html:template name="Zeile_Aufgeklappt">
  <table border="0" cellpadding="0" cellspacing="0" style="width: 90%; border-bottom: 1px solid black;">
    <tr>
      <td width="25" height="25" valign="bottom">&nbsp;</td>
      <td width="14%" align="left" valign="middle" style="padding-left: 2px;"><font size="2" face="Arial, Helvetica, sans-serif"><template:placeholder name="Datum" /></font></td>
      <td width="70%" valign="middle" style="padding-left: 8px;"><font size="2" face="Arial, Helvetica, sans-serif"><template:placeholder name="Text" /></font></td>
      <td width="13%" align="center" valign="middle"><template:placeholder name="Link" /></td>
    </tr>
    <tr>
      <td height="37" colspan="2" valign="bottom" align="left">
  	     <template:placeholder name="AufklappLink" />
  	    </td>
       <td width="83%" colspan="2" valign="middle" style="padding-left: 8px; padding-top: 10px; padding-bottom: 8px;"><font style="font-size: 11px;" face="Arial, Helvetica, sans-serif"><template:placeholder name="DetailText" /></font></td>
     </tr>
   </table>
   <table width="100" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="100" height="3" valign="top"><img src="spacer.gif" width="100" height="3" /></td>
    </tr>
  </table>
</html:template>


<html:template name="DetailLink">
  <a href="#" onClick="window.open('<template:placeholder name="DetailLink" />', 'Anhang','toolbar=no,location=no,directories=no,status=no,menubar=no,closed=no,scrollbars=yes,resizable=yes,copyhistory=yes,width=600,height=500')">
    <img src="<template:placeholder name="DetailBild" />" align="absmiddle" border="0" alt="Anhang zur Anzeige mit Klick &ouml;ffnen!" />
  </a>
</html:template>


<html:template name="Termine">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" style="width: 90%; background-color: #0066CC; border: 1px solid black; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: white;">
    <tr>
      <td width="17%" height="20" align="center" valign="middle">Termin</td>
      <td width="70%" valign="middle" style="padding-left: 8px;">Veranstaltungstitel</td>
      <td width="13%" align="center" valign="middle">Zusatzinfo</td>
    </tr>
  </table>
  <table width="100" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td width="100" height="3" valign="top"><img src="spacer.gif" width="100" height="3" /></td>
   </tr>
  </table>
  <template:placeholder name="TerminInhalte" />
  </center>
  <br />
</html:template>


<html:template name="KeinTermin">
  <table width="450" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="450" height="25" valign="middle" align="center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000"><strong>Keine Termine eingetragen!</strong></font></td>
    </tr>
  </table>
</html:template>