<@controller namespace="modules::filebasedsearch::pres::documentcontroller" file="filebasedsearch_v1_controller" class="filebasedsearch_v1_controller" @>
<font style="font-size: 26px; font weight: bold;"><html:placeholder name="SearchTitle"/></font>
<br />
<br />
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:placeholder name="SearchText"/>
<br />
<br />
<html:placeholder name="SearchForm"/>
<br />
<html:placeholder name="SearchResult"/>

<html:template name="SearchText_de">
  Bitte geben Sie einen Suchbegriff ein. Die Suche akzeptiert mehrere Suchw&ouml;rter, die durch ein
  Leerzeichen getrennt sein m&uuml;ssen.
</html:template>

<html:template name="SearchText_en">
  Please fill in a search term. To search for more keyword the strings must be separated by blanks.
</html:template>

<html:template name="SearchTitle_de">Suche</html:template>

<html:template name="SearchTitle_en">Search</html:template>

<html:form name="SearchForm_de" method="post">
  <strong>Suchwort:</strong> <form:text name="SearchString" class="eingabe_feld" style="width: 200px;" validate="true" button="Search" />
  <form:button name="Search" value="GO" class="eingabe_feld" />
</html:form>

<html:form name="SearchForm_en" method="post">
  <strong>Search string:</strong> <form:text name="SearchString" class="eingabe_feld" style="width: 200px;" validate="true" button="Search" />
  <form:button name="Search" value="GO" class="eingabe_feld" />
</html:form>

<html:template name="SearchResult_de">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Title" />" style="font-size: 15px; font-weight: bold;"><template:placeholder name="Title" /></a>
  <br />
  <font style="font-style: italic; color: gray;">... <template:placeholder name="Content" /> ...</font>
  <br />
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Title" />"><strong><template:placeholder name="Link" /></strong></a><font style="font-style: italic; color: gray;">, Gr&ouml;&szlig;e: <template:placeholder name="Size" /></font>
  <br />
  <br />
  <br />
</html:template>

<html:template name="SearchResult_en">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Title" />" style="font-size: 15px; font-weight: bold;"><template:placeholder name="Title" /></a>
  <br />
  <font style="font-style: italic; color: gray;">... <template:placeholder name="Content" /> ...</font>
  <br />
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Title" />"><strong><template:placeholder name="Link" /></strong></a><font style="font-style: italic; color: gray;">, size: <template:placeholder name="Size" /></font>
  <br />
  <br />
  <br />
</html:template>

<html:template name="SearchResultHeader_de">
  <strong>Ergebnisse:</strong>
  <br />
  <br />
</html:template>

<html:template name="NoSearchResult_de">
  Mit dem eingegebenen Suchwort konnte kein Treffer erziehlt werden. Bitte versuchen Sie es mit einem anderen Suchwort!
</html:template>

<html:template name="SearchResultHeader_en">
  <strong>Results:</strong>
  <br />
  <br />
</html:template>

<html:template name="NoSearchResult_en">
  With the given search word no hit could be found. Please try with another search string!
</html:template>