/***************************************************************************************************
* This is a sample style sheet for the contact module. If you intend to use it as is, add it to    *
* your existing style sheets or include it to your website's head.                                 *
***************************************************************************************************/

.contact-form .error-container li {
    color: red;
}

.contact-form .error-container {
    border: 2px solid red;
}

.contact-form form {
    margin: 1.3em 0 1.3em 2em;
}

.contact-form label {
    display: block;
    font-size: 0.8em;
    margin: .6em 0 .1em 0;
}

.contact-form input, .contact-form textarea {
    width: 30em;
}

.contact-form select {
    width: 30.4em;
}

.contact-form input[type="submit"], .contact-form input[type="button"] {
    width: auto;
}

.contact-form .captcha img {
    float: left;
    margin-right: 0.8em;
}

.contact-form .captcha input {
    width: 10em;
}

.contact-form .captcha:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    margin-bottom: 0.6em;
    visibility: hidden;
}

.contact-form .buttonbox {
    font-size: 0.9em;
    text-align: right;
    width: 30em;
}

/* mark invalid form controls */
.contact-form .apf-form-error {
    border: 2px solid red;
}