<!DOCTYPE html>
<html>
<head>
   <title>
      <html:getstring
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.main.title" delimiter="."/>
   </title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <core:addtaglib
         class="APF\modules\usermanagement\pres\taglib\UmgtIncludeCssTag"
         prefix="umgt"
         name="includecss"
         />
   <umgt:includecss/>
</head>
<body>
<h1 class="umgt-header">
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.main.title" delimiter="."/>
</h1>

<core:importdesign namespace="APF\modules\usermanagement\pres\templates" template="menu"/>

<div class="umgt-content">
   <core:addtaglib
         class="APF\modules\usermanagement\pres\taglib\UmgtMediaInclusionTag"
         prefix="umgt"
         name="media"
         />
   <core:importdesign
         namespace="APF\modules\usermanagement\pres\templates"
         template="[mainview = user]"
         incparam="mainview"
         />
</div>
</body>
</html>