<a href="?mainview=user" title="Manage users" class="menu_links">Manage users</a>
&nbsp;|&nbsp;
<a href="?mainview=group" title="Manage groups" class="menu_links">Manage groups</a>
&nbsp;|&nbsp;
<a href="?mainview=role" title="Manage roles" class="menu_links">Manage roles</a>
&nbsp;|&nbsp;
<a href="?mainview=permissionset" title="Manage permission sets" class="menu_links">Manage permission sets</a>
&nbsp;|&nbsp;
<a href="?mainview=permission" title="Manage permissions" class="menu_links">Manage permissions</a>