<@controller namespace="modules::usermanagement::pres::documentcontroller" file="menu_controller" class="menu_controller" @>
<a href="<html:placeholder name="home" />" class="<html:placeholder name="LinkClassUser" />" title="Home" class="menu_links active">Home</a>
&nbsp;|&nbsp;
<a href="<html:placeholder name="manage_user" />" class="<html:placeholder name="LinkClassUser" />" title="Manage users" class="menu_links active">Manage users</a>
&nbsp;|&nbsp;
<a href="<html:placeholder name="manage_groups" />" class="<html:placeholder name="LinkClassGroup" />" title="Manage groups" class="menu_links">Manage groups</a>
&nbsp;|&nbsp;
<a href="<html:placeholder name="manage_roles" />" class="<html:placeholder name="LinkClassRoles" />" title="Manage roles" class="menu_links">Manage roles</a>
&nbsp;|&nbsp;
<a href="<html:placeholder name="manage_permissionsets" />" class="<html:placeholder name="LinkClassPermissionset" />" title="Manage permission sets" class="menu_links">Manage permission sets</a>
&nbsp;|&nbsp;
<a href="<html:placeholder name="manage_permissions" />" class="<html:placeholder name="LinkClassPermission" />" title="Manage permissions" class="menu_links">Manage permissions</a>