<@controller namespace="modules::usermanagement::pres::documentcontroller" file="menu_controller" class="umgt_menu_controller" @>
<div class="umgt-menu">
   <a href="<html:placeholder name="home" />" title="Home" class="active">Home</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="manage_user" />" title="Manage users" class="active">Manage users</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="manage_groups" />" title="Manage groups" class="menu_links">Manage groups</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="manage_roles" />" title="Manage roles" class="menu_links">Manage roles</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="manage_permissionsets" />" title="Manage permission sets" class="menu_links">Manage permission sets</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="manage_permissions" />" title="Manage permissions" class="menu_links">Manage permissions</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="manage_proxies" />" title="Manage visibility" class="menu_links">Manage visibility (beta)</a>
</div>