<@controller namespace="modules::usermanagement::pres::documentcontroller" file="permissionset_controller" class="umgt_permissionset_controller" @>
<div class="umgt-menu">
   <a href="<html:placeholder name="manage_permissionsets" />" title="Permission set list">Permission set list</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="permissionset_add" />" title="Add permission set">Add permission set</a>
</div>
<core:importdesign namespace="modules::usermanagement::pres::templates::permissionset" template="[permissionsetview = list]" incparam="permissionsetview" />