<@controller namespace="modules::usermanagement::pres::documentcontroller" file="permission_controller" class="umgt_permission_controller" @>
<div class="umgt-menu">
   <a href="<html:placeholder name="manage_permissions" />" title="Permission list">Permission list</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="permission_add" />" title="Add permission">Add permission</a>
</div>
<core:importdesign namespace="modules::usermanagement::pres::templates::permission" template="[permissionview = list]" incparam="permissionview" />