<@controller namespace="modules::usermanagement::pres::documentcontroller" file="permissionset_controller" class="permissionset_controller" @>
<a href="<html:placeholder name="manage_permissionsets" />" title="Permission set list" class="menu_links">Permission set list</a>
&nbsp;|&nbsp;
<a href="<html:placeholder name="permissionset_add" />" title="Add permission set" class="menu_links">Add permission set</a>
<br />
<br />
<core:importdesign namespace="modules::usermanagement::pres::templates::permissionset" template="[permissionsetview = list]" incparam="permissionsetview" />