<@controller namespace="modules::usermanagement::pres::documentcontroller" file="proxy_controller" class="umgt_proxy_controller" @>
<div class="umgt-menu">
   <a href="<html:placeholder name="display_proxy_types" />" title="View app objects" class="menu_links">View app objects</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="proxy_add" />" title="Add visibility definition" class="menu_links">Add visibility definition</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="proxy_type_list" />" title="View object types" class="menu_links">View object types</a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="proxy_type_add" />" title="Add visibility type" class="menu_links">Add object type</a>
</div>
<core:importdesign namespace="modules::usermanagement::pres::templates::proxy" template="[proxyview = list]" incparam="proxyview" />