<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\RoleNavigationController"
@>
<div class="umgt-menu">
   <a href="<html:placeholder name="manage_roles" />" title="<html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.role.navi.list.label"/>"><html:getstring
                           namespace="APF\modules\usermanagement\pres"
                           config="labels.ini"
                           entry="frontend.role.navi.list.label"/></a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="role_add" />" title="<html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.role.navi.add.label"/>"><html:getstring
                           namespace="APF\modules\usermanagement\pres"
                           config="labels.ini"
                           entry="frontend.role.navi.add.label"/></a>
</div>
<core:importdesign namespace="APF\modules\usermanagement\pres\templates\role" template="[roleview = list]" incparam="roleview" />