<@controller namespace="modules::usermanagement::pres::documentcontroller" file="role_controller" class="role_controller" @>
<a href="<html:placeholder name="manage_roles" />" title="Role list" class="menu_links">Role list</a>
&nbsp;|&nbsp;
<a href="<html:placeholder name="role_add" />" title="Add role" class="menu_links">Add role</a>
<br />
<br />
<strong>TODO: einer Rolle m&uuml;ssen noch PermissionSet zugewiesen werden k&ouml;nnen!</strong>
<br />
<br />
<core:importdesign namespace="modules::usermanagement::pres::templates::role" template="[roleview = list]" incparam="roleview" />