<ul>
   <li>
      Benutzer
      <ul>
         <li>(1:n) Benutzer <-> Gruppe (OK), Hinzufügen + Entfernen (einfacher für die Impl.)</li>
         <li>Benutzer <-> Rolle</li>
         <li>Benutzer <-> Sichtbarkeits-Berechtigung</li>
      </ul>
   </li>
   <li>
      Gruppen
      <ul>
         <li>(1:n) Gruppe <-> Benutzer (OK), Hinzufügen und Entfernen (einfacher für die Impl.)</li>
         <li>Gruppe <-> Rolle</li>
         <li>Gruppe <-> Sichtbarkeits-Berechtigung</li>
      </ul>
   </li>
   <li>
      Rollen
      <ul>
         <li>(1:n) Rolle <-> Funktions-Berechtigung (OK), Hinzufügen und Entfernen</li>
         <li>Rolle <-> Benutzer</li>
         <li>Rolle <-> Gruppe</li>
      </ul>
   </li>
   <li>
      Funktions-Berechtigungen
      <ul>
         <li>(1:n) Funktions-Berechtigung <-> Rolle</li>
      </ul>
   </li>
   <li>
      Sichtbarkeits-Berechtigungen
      <ul>
         <li>Sichtbarkeits-Berechtigung <-> Benutzer</li>
         <li>Sichtbarkeits-Berechtigung <-> Gruppe</li>
      </ul>
   </li>
</ul>
<p>
   Welcome to the user management module. This GUI enables you to administrate users, groups, roles,
   permissions, permissionsets and the relation of these objects. Please use the menu provided above
   to navigate within the application.
</p>
<p>
   The following UML diagram shows the business objects and relations, that are included in these
   module:
</p>
<core:addtaglib namespace="tools::media::taglib" prefix="html" class="mediastream" />
<img src="<html:mediastream namespace="modules::usermanagement::pres::images" filename="usermanagement_domain_model.png" />" alt="Usermanagement UML diagram" />