<@controller
class="APF\modules\usermanagement\pres\documentcontroller\UserNavigationController"
@>
<div class="umgt-menu">
   <a href="${manage_user}" title="<html:getstring
            namespace=" APF\modules\usermanagement\pres"
   config="labels.ini"
   entry="frontend.user.navi.list.label"/>">
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.navi.list.label"/>
   </a>
   &nbsp;|&nbsp;
   <a href="${user_add}" title="<html:getstring
               namespace=" APF\modules\usermanagement\pres"
   config="labels.ini"
   entry="frontend.user.navi.add.label"/>">
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.navi.add.label"/>
   </a>
</div>
<core:importdesign namespace="APF\modules\usermanagement\pres\templates\user" template="[userview = list]"
                   incparam="userview"/>