<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\UserNavigationController"
@>
<div class="umgt-menu">
   <a href="<html:placeholder name="manage_user" />" title="<html:getstring
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.user.navi.list.label"/>"><html:getstring
                     namespace="modules::usermanagement::pres"
                     config="labels.ini"
                     entry="frontend.user.navi.list.label"/></a>
   &nbsp;|&nbsp;
   <a href="<html:placeholder name="user_add" />" title="<html:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.user.navi.add.label"/>"><html:getstring
                     namespace="modules::usermanagement::pres"
                     config="labels.ini"
                     entry="frontend.user.navi.add.label"/></a>
</div>
<core:importdesign namespace="APF\modules\usermanagement\pres\templates\user" template="[userview = list]" incparam="userview" />