<@controller namespace="modules::pager::pres::documentcontroller" class="pager_v1_controller" @>
<div style="width: 100%; border: 0px solid black; text-align: right;">
  <html:placeholder name="Page" /> | <html:placeholder name="Content" />
</div>
<br />

<html:template name="Page_Selected">
  <a href="<template:placeholder name="Link" />" title="Seite <template:placeholder name="Seite" />"><font style="font-size: 16px; font-weight: bold;"><template:placeholder name="Seite" /></font></a> |
</html:template>

<html:template name="Page_Normal">
  <a href="<template:placeholder name="Link" />" title="Seite <template:placeholder name="Seite" />"><template:placeholder name="Seite" /></a> |
</html:template>

<html:template name="Page_de">Seite</html:template>

<html:template name="Page_en">Page</html:template>