<@controller
class="APF\modules\pager\pres\documentcontroller\SimplePagerController"
@>
<div style="width: 100%; border: 0 solid black; text-align: right;">
   ${Page} | ${Content}
</div>

<html:template name="Page_Selected_de">
   <a href="${Link}" title="Seite ${Page}"><span>${Page}</span></a> |
</html:template>

<html:template name="Page_Selected_en">
   <a href="${Link}" title="Page ${Page}"><span>${Page}</span></a> |
</html:template>

<html:template name="Page_Normal_de">
   <a href="${Link}" title="Seite ${Page}">${Page}</a> |
</html:template>

<html:template name="Page_Normal_en">
   <a href="${Link}" title="Page ${Page}">${Page}</a> |
</html:template>

<html:template name="Page_de">Seite</html:template>

<html:template name="Page_en">Page</html:template>