<@controller namespace="modules::pager::pres::documentcontroller" file="pager_2_v1_controller" class="pager_2_v1_controller" @>
<div class="apf-pager">
   <div class="apf-pages">
      <html:placeholder name="VorherigeSeite" /><html:placeholder name="Inhalt" /><html:placeholder name="NaechsteSeite" />
   </div>
   <html:template name="DynamicPageSize">
      <div class="apf-page-size">
         <span style="font-size: 9px;"><template:placeholder name="EntriesPerPage_Display" /></span>&nbsp;|<template:placeholder name="EntriesPerPage" />
      </div>
   </html:template>
</div>

<html:template name="Page_Selected">
  <a class="active" href="<template:placeholder name="Link" />" title="Seite <template:placeholder name="Seite" /> anzeigen"><template:placeholder name="Seite" /></a>&nbsp;&nbsp;
</html:template>

<html:template name="Page">
  <a href="<template:placeholder name="Link" />" title="Seite <template:placeholder name="Seite" /> anzeigen"><template:placeholder name="Seite" /></a>&nbsp;&nbsp;
</html:template>

<html:template name="VorherigeSeite_Aktiv">
  <a href="<template:placeholder name="Link" />" title="Vorherige Seite anzeigen!">&laquo;</a>&nbsp;&nbsp;
</html:template>

<html:template name="VorherigeSeite_Inaktiv">
   <span class="first">&laquo;</span>
</html:template>

<html:template name="NaechsteSeite_Aktiv">
  <a href="<template:placeholder name="Link" />" title="N&auml;chste Seite anzeigen!"><span style="font-size: 14px;">&raquo;</span></a>
</html:template>

<html:template name="NaechsteSeite_Inaktiv">
   <span>&raquo;</span>
</html:template>

<html:template name="EntriesPerPage_Aktiv">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Count" /> Eintr&auml;ge pro Seite anzeigen"><strong><template:placeholder name="Count" /></strong></a> |
</html:template>

<html:template name="EntriesPerPage_Inaktiv">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Count" /> Eintr&auml;ge pro Seite anzeigen"><template:placeholder name="Count" /></a> |
</html:template>

<html:template name="EntriesPerPage_de">Eintr&auml;ge/Seite:</html:template>

<html:template name="EntriesPerPage_en">Entries/Page:</html:template>