<@controller namespace="modules::pager::pres::documentcontroller" file="pager_2_v1_controller" class="pager_2_v1_controller" @>
<div style="width: 100%; border: 0px solid black; text-align: right; padding-bottom: 2px;">
  <html:placeholder name="VorherigeSeite" /><html:placeholder name="Inhalt" /><html:placeholder name="NaechsteSeite" />
  <br />
  <font style="font-size: 9px;"><html:placeholder name="EntriesPerPage_Display" /></font>&nbsp;|<html:placeholder name="EntriesPerPage" />
</div>
<br />

<html:template name="Page_Selected">
  <a href="<template:placeholder name="Link" />" title="Seite <template:placeholder name="Seite" /> anzeigen"><font style="font-size: 16px; font-weight: bold;"><template:placeholder name="Seite" /></font></a>&nbsp;&nbsp;
</html:template>

<html:template name="Page">
  <a href="<template:placeholder name="Link" />" title="Seite <template:placeholder name="Seite" /> anzeigen"><template:placeholder name="Seite" /></a>&nbsp;&nbsp;
</html:template>

<html:template name="VorherigeSeite_Aktiv">
  <a href="<template:placeholder name="Link" />" title="Vorherige Seite anzeigen!"><font style="font-size: 14px;">&laquo;</font></a>&nbsp;&nbsp;
</html:template>

<html:template name="VorherigeSeite_Inaktiv">
  <font style="font-size: 14px;">&laquo;</font>&nbsp;&nbsp;
</html:template>

<html:template name="NaechsteSeite_Aktiv">
  <a href="<template:placeholder name="Link" />" title="Nächste Seite anzeigen!"><font style="font-size: 14px;">&raquo;</font></a>
</html:template>

<html:template name="NaechsteSeite_Inaktiv">
  <font style="font-size: 14px;">&raquo;</font>
</html:template>

<html:template name="EntriesPerPage_Aktiv">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Count" /> Einträge pro Seite anzeigen"><strong><template:placeholder name="Count" /></strong></a> |
</html:template>

<html:template name="EntriesPerPage_Inaktiv">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Count" /> Einträge pro Seite anzeigen"><template:placeholder name="Count" /></a> |
</html:template>

<html:template name="EntriesPerPage_de">Eintr&auml;ge/Seite:</html:template>

<html:template name="EntriesPerPage_en">Entries/Page:</html:template>