<@controller class="APF\modules\pager\pres\documentcontroller\SimplePagerController" @>
<div style="width: 100%; border: 0 solid black; text-align: right;">
  <html:placeholder name="Page" /> | <html:placeholder name="Content" />
</div>

<html:template name="Page_Selected_de">
   <a href="<template:placeholder name="Link" />" title="Seite <template:placeholder name="Page" />"><span><template:placeholder name="Page" /></span></a> |
</html:template>

<html:template name="Page_Selected_en">
   <a href="<template:placeholder name="Link" />" title="Page <template:placeholder name="Page" />"><span><template:placeholder name="Page" /></span></a> |
</html:template>

<html:template name="Page_Normal_de">
   <a href="<template:placeholder name="Link" />" title="Seite <template:placeholder name="Page" />"><template:placeholder name="Page" /></a> |
</html:template>

<html:template name="Page_Normal_en">
   <a href="<template:placeholder name="Link" />" title="Page <template:placeholder name="Page" />"><template:placeholder name="Page" /></a> |
</html:template>

<html:template name="Page_de">Seite</html:template>

<html:template name="Page_en">Page</html:template>