<@controller class="APF\extensions\apfelsms\pres\documentcontroller\SMSNavTagController" @>
<html:template name="navRoot">
    <ul>
        <template:placeholder name="entries" />
    </ul>
</html:template>

<html:template name="navEntry">
    <li><template:placeholder name="anchor"><a href="{URL}" title="{TITLE}" class="{CLASSES}" >{TEXT}</a></template:placeholder></li>
</html:template>

<html:template name="navEntryWithSubs">
    <li><template:placeholder name="anchor"><a href="{URL}" title="{TITLE}" class="hasSubEntries {CLASSES}" >{TEXT}</a></template:placeholder></li>
    <li class="subEntries">
        <ul>
            <template:placeholder name="subEntries" />
        </ul>
    </li>
</html:template>
