<@controller namespace="modules::fulltextsearch::pres::documentcontroller::sitemap" file="pagelist_v1_controller" class="pagelist_v1_controller" @>
<br />
<ul>
  <html:placeholder name="PageList" />
</ul>

<html:template name="Page">
  <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <li>
    <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Title" />"><strong><template:placeholder name="Title" /></strong></a>
    (<em><template:getstring namespace="modules::fulltextsearch" config="language" entry="Result.Mod" />: <template:placeholder name="LastMod" /></em>)
  </li>
</html:template>