<@controller namespace="modules::fulltextsearch::pres::documentcontroller::sitemap" file="pagelist_v1_controller" class="pagelist_v1_controller" @>
<br />
<ul>
  <html:placeholder name="PageList" />
</ul>

<html:template name="Page">
  <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <li>
    <a href="/<template:placeholder name="PageIndicator" />/<template:placeholder name="Name" />" title="<template:placeholder name="Title" />"><strong><template:placeholder name="Title" /></strong></a>
    (<em><template:getstring namespace="modules::fulltextsearch" config="language" entry="Result.Mod" />: <template:placeholder name="LastMod" /></em>)
  </li>
</html:template>

<html:template name="Deactivated_de">
  <strong>Hinweis:</strong>
  <br />
  Die Sitemap ist in der Offline-Version deaktiviert. Bitte besuchen Sie die Webseite des
  Adventure-PHP-Frameworks unter <a href="http://www.adventure-php-framework.org/Seite/Sitemap" target="_blank" title="Sitemap">www.adventure-php-framework.org</a>.
</html:template>

<html:template name="Deactivated_en">
  <strong>Please note:</strong>
  <br />
  The sitemap is disabled in the offline version of the demo page. Please visit the adventure php
  framework page under
  <a href="http://www.adventure-php-framework.org/Seite/Sitemap/~/sites_demosite_biz-action/setLanguage/lang/en" target="_blank" title="Sitemap">www.adventure-php-framework.org</a>.
</html:template>