<@controller namespace="modules::bilddatenbank::pres::documentcontroller" file="bilddatenbank_v2_controller" class="bilddatenbank_v2_controller" @>
<html:placeholder name="Content" />


<html:template name="Ausgabe">
  <font style="font-size: 16px;"><strong>Schadbilder-Datenbank</strong></font>
  <br />
  <br />
  Hier finden Sie eine Reihe von Schadbildern, die während der Besuche in den verschiedenen Betrieben
  und an den verschiedenen Kulturen aufgebommen wurden. Sie sollen helfen Schädlingsbefall oder
  Krankheitsbilder zu diagnostizieren. Für weitere Instruktionen, insbesondere der Behandlung, fragen Sie
  bitte Ihren Berater, oder durchsuchen den Bereich Kulturtechnik.
  <br />
  <br />
  <br />
  <template:placeholder name="Menu" />
  <template:placeholder name="ABCMenu" />
  <template:placeholder name="Pager" />
  <template:placeholder name="Ausgabe" />
</html:template>


<html:template name="Bild">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" align="center" valign="middle">
        <div onClick="window.open('<template:placeholder name="BildanzeigeLink" />','Schadbild','toolbar=no,location=no,directories=no,status=yes,menubar=no,closed=no,scrollbars=no,resizable=no,copyhistory=no,width=<template:placeholder name="Breite" />,height=<template:placeholder name="Hoehe" />')">
          <img style="cursor: pointer;" src="<template:placeholder name="BildQuelle" />" alt="<template:placeholder name="AltText"/>" align="absmiddle" border="0">
        </div>
      </td>
      <td width="100%" align="left" valign="middle" style="padding-left: 10px;">
        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
          <template:placeholder name="Text" />
        </font>
      </td>
    </tr>
  </table>
  <br />
</html:template>


<html:template name="KulturText">
  <strong><font color="#339933"><u>Kultur:</u></font>&nbsp;<template:placeholder name="Kultur" /></strong>
  <br />
  <font color="#339933"><u>Schadursache:</u></font>&nbsp;<template:placeholder name="Ursache" />
</html:template>


<html:template name="UrsacheText">
  <font color="#339933"><u>Kultur:</u></font>&nbsp;<template:placeholder name="Kultur" />
  <br />
  <strong><font color="#339933"><u>Schadursache:</u></font>&nbsp;<template:placeholder name="Ursache" /></strong>
</html:template>


<html:template name="Meldung">
  <br />
  <br />
  <font color="#249000"><strong>Keine Eintr&auml;ge f&uuml;r Buchstaben <template:placeholder name="Buchstabe" /> vorhanden.</strong></font>
</html:template>


<html:template name="ABCMenu">
  <a href="<template:placeholder name="Link"/>" title="Schadbilder unter dem Buchstaben <template:placeholder name="Buchstabe"/>" class="schadbilder_alphabet"><template:placeholder name="LinkText"/></a>
</html:template>


<html:template name="Menu">
  <strong>Sortier-Kriterium:</strong>&nbsp;&nbsp;<a href="<template:placeholder name="Kultur_Link" />" title="Schadbilder nach Kultur ordnen!"><template:placeholder name="Kultur" /></a> | <a href="<template:placeholder name="Ursache_Link" />" title="Schadbilder nach Ursache ordnen!"><template:placeholder name="Ursache" /></a>
  <br />
  <strong>Buchstabe:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</html:template>