<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\permission\PermissionAddController"
@>
<h3><html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.permission.add.headline"/></h3>
<html:form name="PermissionAdd" method="post">
   <div>
      <form:addvalidator
            class="APF\tools\form\validator\TextLengthValidator"
            button="Add"
            control="DisplayName|Name|Value"
            />
      <p>
         <html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.permission.add.intro.text"/>
      </p>
      <p>
         <label><html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.permission.add.display-name.label"/></label>
         <form:text name="DisplayName" maxlength="100"/>
      </p>
      <p>
         <label><html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.permission.add.name.label"/></label>
         <form:text name="Name" maxlength="100"/>
      </p>
      <p>
         <label><html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.permission.add.value.label"/></label>
         <form:text name="Value" maxlength="100"/>
      </p>
      <p>
         <form:button name="Add">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.permission.add.button.label"/>
         </form:button>
         <form:hidden name="permissionsetid"/>
      </p>
   </div>
</html:form>