<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\permission\PermissionDeleteController"
@>
<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
<h3><html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.permission.delete.headline"/></h3>
<p>
   <html:getstring
         name="display-name"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.permission.delete.confirmation.text"/>
</p>

<html:form name="PermissionDelNo" method="post">
   <div>
      <form:button name="No">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.permission.delete.button-no.label"/>
      </form:button>
   </div>
</html:form>

<html:form name="PermissionDelYes" method="post">
   <div>
      <form:button name="Yes">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.permission.delete.button-yes.label"/>
      </form:button>
   </div>
</html:form>