<@controller
   namespace="modules::usermanagement::pres::documentcontroller::permission"
   class="PermissionEditController"
@>
<core:addtaglib namespace="tools::form::taglib" class="HtmlFormTag" prefix="html" name="form" />
<h3><html:getstring
         namespace="modules::usermanagement::pres"
         config="labels.ini"
         entry="frontend.permission.edit.headline"/></h3>
<html:form name="PermissionEdit" method="post">
   <div>
      <form:addvalidator
            class="TextLengthValidator"
            button="Edit"
            control="DisplayName|Name|Value"
            />
      <p>
         <form:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.permission.edit.intro.text"/>
      </p>
      <p>
         <label><form:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.permission.edit.display-name.label"/></label>
         <form:text name="DisplayName" maxlength="100"/>
      </p>
      <p>
         <label><form:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.permission.edit.name.label"/></label>
         <form:text name="Name" maxlength="100"/>
      </p>
      <p>
         <label><form:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.permission.edit.value.label"/></label>
         <form:text name="Value" maxlength="100"/>
      </p>
      <p>
         <form:button name="Edit">
            <button:getstring
                  namespace="modules::usermanagement::pres"
                  config="labels.ini"
                  entry="frontend.permission.edit.button.label"/>
         </form:button>
         <form:hidden name="permissionid" />
      </p>
   </div>
</html:form>