<@controller
   namespace="modules::usermanagement::pres::documentcontroller::permission"
   class="umgt_role_list_controller"
@>
<table class="vis-def">
   <thead>
      <tr>
         <td>&nbsp;</td>
         <td>Display name</td>
         <td>Name</td>
         <td>Value</td>
         <td>Action</td>
      </tr>
   </thead>
   <tbody>
      <html:placeholder name="ListPermissions"/>
   </tbody>
</table>
<html:template name="Permission">
   <template:addtaglib namespace="modules::usermanagement::pres::taglib" prefix="umgt" class="media"/>
   <tr>
      <td>
         <umgt:media filename="cc-lassist-128x128.png" alt="Edit permission" title="Edit permission"/>
      </td>
      <td>
         <template:placeholder name="DisplayName"/>
      </td>
      <td>
         <template:placeholder name="Name"/>
      </td>
      <td>
         <template:placeholder name="Value"/>
      </td>
      <td class="actions">
         <a href="<template:placeholder name=" permission_edit" />" title="Edit permission">
            <umgt:media filename="cc-package_settings-128x128.png" alt="Edit permission" title="Edit permission"/>
         </a>
         <a href="<template:placeholder name=" permission_delete" />" title="Delete Permission">
            <umgt:media filename="cc-trashcan_empty2-128x128.png" alt="Delete permission" title="Delete permission"/>
         </a>
      </td>
   </tr>
</html:template>