<@controller namespace="modules::usermanagement::pres::documentcontroller::permission" file="list_controller" class="list_controller" @>
<table cellpadding="3" cellspacing="0" border="0">
  <tr style="font-weight: bold; background-color: #eeeeee;">
    <td>Display name</td>
    <td>Name</td>
    <td>Value</td>
    <td>Action</td>
  </tr>

<core:addtaglib namespace="tools::html::taglib" prefix="html" class="iterator"/>
<html:iterator name="Permission">
  <iterator:item getter="getProperty">
    <tr>
      <td><item:placeholder name="DisplayName" /></td>
      <td><item:placeholder name="Name" /></td>
      <td><item:placeholder name="Value" /></td>
      <td>
        <a href="?mainview=permission&permissionview=edit&permissionid=<item:placeholder name="PermissionID" />" title="Edit permission">Edit permission</a>
        &nbsp;|&nbsp;
        <a href="?mainview=permission&permissionview=delete&permissionid=<item:placeholder name="PermissionID" />" title="Delete user">Delete permission</a>
      </td>
    </tr>
  </iterator:item>
</html:iterator>

</table>