<@controller
   namespace="modules::usermanagement::pres::documentcontroller::proxy"
   class="umgt_proxy_details_controller"
@>
<p>
   The following list presents the visibility objects stored for the visibility definition with
   object id <strong><html:placeholder name="appobjectid" /></strong> (type: 
   <em><html:placeholder name="appproxytype" /></em>).
</p>
<table class="vis-def">
   <thead>
      <tr>
         <td>&nbsp;</td>
         <td>User / group</td>
         <td>Actions</td>
      </tr>
   </thead>
   <tbody>
      <html:placeholder name="list" />
   </tbody>
</table>
<html:template name="listitem">
   <template:addtaglib namespace="modules::usermanagement::pres::taglib" prefix="umgt" class="media" />
   <tr>
      <td>
         <umgt:media />
      </td>
      <td>
         <template:placeholder name="item" />
      </td>
      <td>
         <a href="<template:placeholder name="delete_link"/>" title="Revoke access to user/group"><umgt:media filename="delete.png" alt="Revoke access to user/group" /></a>
      </td>
   </tr>
</html:template>