<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\proxy\ProxyListController"
@>
<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
<p>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.proxy.list.intro.text"/>
</p>
<p>
   <html:form class="type-filter" name="type-filter">
      <div>
         <form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.proxy.list.filter.label"/>
         <form:select name="proxytypeid" />
         <form:button name="go">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.proxy.list.button.label"/>
         </form:button>
      </div>
   </html:form>
</p>
<table class="vis-def">
   <thead>
      <tr>
         <td>&nbsp;</td>
         <td><html:getstring
                namespace="APF\modules\usermanagement\pres"
                config="labels.ini"
                entry="frontend.proxy.list.proxy-definition.label"/></td>
         <td><html:getstring
                namespace="APF\modules\usermanagement\pres"
                config="labels.ini"
                entry="frontend.proxy.list.users.label"/></td>
         <td><html:getstring
                namespace="APF\modules\usermanagement\pres"
                config="labels.ini"
                entry="frontend.proxy.list.groups.label"/></td>
         <td><html:getstring
                namespace="APF\modules\usermanagement\pres"
                config="labels.ini"
                entry="frontend.proxy.list.actions.label"/></td>
      </tr>
   </thead>
   <tbody>
      <html:placeholder name="ProxyList"/>
   </tbody>
</table>

<html:template name="Proxy">
   <template:addtaglib class="APF\modules\usermanagement\pres\taglib\UmgtMediaInclusionTag" prefix="umgt" name="media" />
   <tr>
      <td>
         <umgt:media filename="visibility_def.png" alt="Delete visibility definition"/>
      </td>
      <td>
         <template:getstring
               name="proxy-def"
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.proxy.list.proxy-def.label"/>
      </td>
      <td>
         <template:placeholder name="Users"/>
      </td>
      <td>
         <template:placeholder name="Groups"/>
      </td>
      <td class="actions">
         <a href="<template:placeholder name="proxy_details" />">
            <umgt:media filename="details.png">
               <media:getstring
                   namespace="APF\modules\usermanagement\pres"
                   config="labels.ini"
                   entry="frontend.proxy.list.action.details.label"/>
            </umgt:media>
         </a>
         <a href="<template:placeholder name="proxy_delete" />">
            <umgt:media filename="delete.png">
               <media:getstring
                   namespace="APF\modules\usermanagement\pres"
                   config="labels.ini"
                   entry="frontend.proxy.list.action.delete.label"/>
            </umgt:media>
         </a>
         <a href="<template:placeholder name="proxy_add_user" />">
            <umgt:media filename="group_add_user.png">
               <media:getstring
                   namespace="APF\modules\usermanagement\pres"
                   config="labels.ini"
                   entry="frontend.proxy.list.action.add-users-to-proxy.label"/>
            </umgt:media>
         </a>
         <a href="<template:placeholder name="proxy_remove_user" />">
            <umgt:media filename="group_remove_user.png">
               <media:getstring
                   namespace="APF\modules\usermanagement\pres"
                   config="labels.ini"
                   entry="frontend.proxy.list.action.remove-users-from-proxy.label"/>
            </umgt:media>
         </a>
         <a href="<template:placeholder name="proxy_add_group" />">
            <umgt:media filename="add_group.png">
               <media:getstring
                   namespace="APF\modules\usermanagement\pres"
                   config="labels.ini"
                   entry="frontend.proxy.list.action.add-groups-to-proxy.label"/>
            </umgt:media>
         </a>
         <a href="<template:placeholder name="proxy_remove_group" />">
            <umgt:media filename="remove_group.png">
               <media:getstring
                   namespace="APF\modules\usermanagement\pres"
                   config="labels.ini"
                   entry="frontend.proxy.list.action.remove-groups-from-proxy.label"/>
            </umgt:media>
         </a>
      </td>
   </tr>
</html:template>