<@controller
   namespace="modules::usermanagement::pres::documentcontroller::proxy"
   class="umgt_proxy_add_controller"
@>
<h3><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.add-proxy.headline"/></h3>
<p>
   <html:getstring
          namespace="modules::usermanagement::pres"
          config="labels.ini"
          entry="frontend.proxy.add-proxy.intro.text"/>
</p>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="visibilitydef" method="post">
   <h4><form:getstring
          namespace="modules::usermanagement::pres"
          config="labels.ini"
          entry="frontend.proxy.add-proxy.basics.headline"/></h4>
   <div>
      <label for="proxytypeid"><form:getstring
                namespace="modules::usermanagement::pres"
                config="labels.ini"
                entry="frontend.proxy.add-proxy.proxy-type.label"/></label>
      <form:select id="proxytypeid" name="proxytypeid" />
   </div>
   <div>
      <label for="appobjectid"><form:getstring
                      namespace="modules::usermanagement::pres"
                      config="labels.ini"
                      entry="frontend.proxy.add-proxy.proxy-app-id.label"/></label>
      <form:text id="appobjectid" name="appobjectid" maxlength="10" minlength="1"/>
      <form:addvalidator
         class="TextLengthValidator"
         button="add"
         control="appobjectid"
      />
      <form:addvalidator
         class="IntegerValidator"
         button="add"
         control="appobjectid"
      />
   </div>
   <form:listener control="users">
      <div class="error-cont">
         <listener:getstring
             namespace="modules::usermanagement::pres"
             config="labels.ini"
             entry="frontend.proxy.add-proxy.validator.message"/>
      </div>
   </form:listener>
   <div>
      <label for="users"><form:getstring
                      namespace="modules::usermanagement::pres"
                      config="labels.ini"
                      entry="frontend.proxy.add-proxy.users.label"/></label>
      <form:multiselect id="users" name="users" size="6" />
   </div>
   <div>
      <label for="groups"><form:getstring
                      namespace="modules::usermanagement::pres"
                      config="labels.ini"
                      entry="frontend.proxy.add-proxy.groups.label"/></label>
      <form:multiselect id="groups" name="groups" size="6"/>
   </div>
   <form:addvalidator
      namespace="modules::usermanagement::pres::validator"
      class="UserOrGroupActivatedValidator"
      control="users"
      button="add"
   />
   <h4><form:getstring
             namespace="modules::usermanagement::pres"
             config="labels.ini"
             entry="frontend.proxy.add-proxy.access.headline"/></h4>
   <div class="umgt-access-perms">
      <p>
         <form:checkbox id="read-perm" name="ReadPermission"/>
         <label for="read-perm"><form:getstring
                         namespace="modules::usermanagement::pres"
                         config="labels.ini"
                         entry="frontend.proxy.add-proxy.read-perm.label"/></label>
      </p>
      <p>
         <form:checkbox id="write-perm" name="WritePermission"/>
         <label for="write-perm"><form:getstring
                         namespace="modules::usermanagement::pres"
                         config="labels.ini"
                         entry="frontend.proxy.add-proxy.write-perm.label"/></label>
      </p>
      <p>
         <form:checkbox id="link-perm" name="LinkPermission"/>
         <label for="link-perm"><form:getstring
                         namespace="modules::usermanagement::pres"
                         config="labels.ini"
                         entry="frontend.proxy.add-proxy.link-perm.label"/></label>
      </p>
      <p>
         <form:checkbox id="delete-perm" name="DeletePermission"/>
         <label for="delete-perm"><form:getstring
                         namespace="modules::usermanagement::pres"
                         config="labels.ini"
                         entry="frontend.proxy.add-proxy.delete-perm.label"/></label>
      </p>
   </div>
   <form:button name="add">
      <button:getstring
         namespace="modules::usermanagement::pres"
         config="labels.ini"
         entry="frontend.proxy.add-proxy.button.label"/>
   </form:button>
</html:form>