<@controller
   namespace="modules::usermanagement::pres::documentcontroller::proxy"
   class="umgt_revoke_access_controller"
@>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<h3><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.revoke-access.headline"/></h3>
<p>
   <html:getstring
       name="intro-text"
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.revoke-access.intro.text"/>
</p>
<html:form name="RevokeNo" method="post">
  <form:button name="No">
     <button:getstring
         namespace="modules::usermanagement::pres"
         config="labels.ini"
         entry="frontend.proxy.revoke-access.button-no.label"/>
  </form:button>
</html:form>
<html:form name="RevokeYes" method="post">
  <form:button name="Yes">
     <button:getstring
         namespace="modules::usermanagement::pres"
         config="labels.ini"
         entry="frontend.proxy.revoke-access.button-yes.label"/>
  </form:button>
</html:form>