<@controller namespace="modules::usermanagement::pres::documentcontroller::proxy" file="proxy_delete_controller" class="umgt_proxy_delete_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<p>
   Should the visibility definition with id <strong><html:placeholder name="proxyid" /></strong>
   (type: <em><html:placeholder name="proxytype" /></em>) really be deleted?
</p>
<html:form name="DelNo" method="post">
  <form:button name="No" value="No" class="formfield"/>
</html:form>
<html:form name="DelYes" method="post">
  <form:button name="Yes" value="Yes" class="formfield"/>
</html:form>