<@controller
   namespace="modules::usermanagement::pres::documentcontroller::proxy"
   class="umgt_proxy_add_groups_controller"
@>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<p>
   Please select the groups that should have visibility permissions on the application
   object with id <strong><html:placeholder name="AppObjectId" /></strong> (type:
   <em><html:placeholder name="ProxyType" /></em>) as well.
</p>
<html:form name="add_perm" method="post">
   <form:listener control="groups">
      <div class="error-cont">
         Please mark at least one user to add to the visibility definition!
      </div>
   </form:listener>
   <div>
      <label for="groups">Groups:</label>
      <form:multiselect id="groups" name="groups" class="formfield" size="6"/>
   </div>
   <form:addvalidator
      class="MultiSelectFieldValidator"
      control="groups"
      button="add"
   />
   <form:button name="add" value="Add" class="formfield" />
   <form:hidden name="proxyid" />
</html:form>