<@controller
class="APF\modules\usermanagement\pres\documentcontroller\proxy\ProxyRemoveGroupsController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.proxy.remove-groups-from-proxy.headline"/>
</h3>
<html:form name="add_perm" method="post">
   <div>
      <p>
         <html:getstring
               name="intro-text"
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.proxy.remove-groups-from-proxy.intro.text"/>
      </p>
      <form:listener control="groups">
         <div class="error-cont">
            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.proxy.remove-groups-from-proxy.validation.message"/>
         </div>
      </form:listener>
      <div>
         <label for="groups">
            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.proxy.remove-groups-from-proxy.groups.label"/>
         </label>
         <form:multiselect id="groups" name="groups" size="6"/>
      </div>
      <form:button name="rem">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.proxy.remove-groups-from-proxy.button.label"/>
      </form:button>
      <form:addvalidator
            class="APF\tools\form\validator\MultiSelectFieldValidator"
            control="groups"
            button="rem"
            />
      <form:hidden name="proxyid"/>
   </div>
</html:form>
<html:template name="NoMoreGroups">
   <p>
      <html:getstring
            name="message-1"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.proxy.remove-groups-from-proxy.message.1"/>
   </p>
   <p>
      <html:getstring
            name="message-2"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.proxy.remove-groups-from-proxy.message.2"/>
   </p>
</html:template>