<@controller
   namespace="modules::usermanagement::pres::documentcontroller::proxy"
   class="umgt_proxy_delete_controller"
@>
<core:addtaglib namespace="tools::form::taglib" class="HtmlFormTag" prefix="html" name="form" />
<h3><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.delete-proxy.headline"/></h3>
<p>
   <html:getstring
          name="intro-text"
          namespace="modules::usermanagement::pres"
          config="labels.ini"
          entry="frontend.proxy.delete-proxy.intro.text"/>
</p>
<html:form name="DelNo" method="post">
   <div>
      <form:button name="No">
         <button:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.proxy.delete-proxy.button-no.label"/>
      </form:button>
   </div>
</html:form>
<html:form name="DelYes" method="post">
   <div>
      <form:button name="Yes">
         <button:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.proxy.delete-proxy.button-yes.label"/>
      </form:button>
   </div>
</html:form>