<@controller
class="APF\modules\usermanagement\pres\documentcontroller\proxy\ProxyDeleteController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.proxy.delete-proxy.headline" delimiter="."/>
</h3>
<p>
   <html:getstring
         name="intro-text"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.proxy.delete-proxy.intro.text" delimiter="."/>
</p>
<html:form name="DelNo" method="post">
   <div>
      <form:button name="No">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.proxy.delete-proxy.button-no.label" delimiter="."/>
      </form:button>
   </div>
</html:form>
<html:form name="DelYes" method="post">
   <div>
      <form:button name="Yes">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.proxy.delete-proxy.button-yes.label" delimiter="."/>
      </form:button>
   </div>
</html:form>