<@controller
   namespace="modules::usermanagement::pres::documentcontroller::proxy"
   class="umgt_proxy_add_users_controller"
@>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring"/>
<h3><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.add-users-to-proxy.headline"/></h3>
<html:form name="add_perm" method="post">
   <p>
      <form:getstring
             name="intro-text"
             namespace="modules::usermanagement::pres"
             config="labels.ini"
             entry="frontend.proxy.add-users-to-proxy.intro.text"/>
   </p>
   <form:listener control="users">
      <div class="error-cont">
         <listener:getstring
             namespace="modules::usermanagement::pres"
             config="labels.ini"
             entry="frontend.proxy.add-users-to-proxy.validator.message"/>
      </div>
   </form:listener>
   <div>
      <label for="users"><form:getstring
                namespace="modules::usermanagement::pres"
                config="labels.ini"
                entry="frontend.proxy.add-users-to-proxy.users.label"/></label>
      <form:multiselect id="users" name="users" size="6"/>
   </div>
   <form:addvalidator
      class="MultiSelectFieldValidator"
      control="users"
      button="add"
   />
   <form:button name="add">
      <button:getstring
          namespace="modules::usermanagement::pres"
          config="labels.ini"
          entry="frontend.proxy.add-users-to-proxy.button.label"/>
   </form:button>
   <form:hidden name="proxyid" />
</html:form>
<html:template name="NoMoreUsers">
   <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring"/>
   <p>
      <template:getstring
            name="message-1"
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.proxy.add-users-to-proxy.message.1"/>
   </p>
   <p>
      <template:getstring
            name="message-2"
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.proxy.add-users-to-proxy.message.2"/>
   </p>
</html:template>