<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\proxy\ProxyRevokeAccessController"
@>
<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
<h3><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.revoke-access.headline"/></h3>
<p>
   <html:getstring
       name="intro-text"
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.revoke-access.intro.text"/>
</p>
<html:form name="RevokeNo" method="post">
   <div>
      <form:button name="No">
         <button:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.proxy.revoke-access.button-no.label"/>
      </form:button>
   </div>
</html:form>
<html:form name="RevokeYes" method="post">
   <div>
      <form:button name="Yes">
         <button:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.proxy.revoke-access.button-yes.label"/>
      </form:button>
   </div>
</html:form>