<@controller
   namespace="modules::usermanagement::pres::documentcontroller::proxy"
   class="umgt_type_delete_controller"
@>
<h3><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.delete-type.headline"/></h3>
<p>
   <html:getstring
      name="intro-text"
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.proxy.delete-type.intro.text"/>
</p>
<div class="umgt-warn">
   <html:getstring
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.proxy.delete-type.warning.text"/>
</div>
<core:addtaglib namespace="tools::form::taglib" class="HtmlFormTag" prefix="html" name="form" />
<html:form name="ProxyTypeDelNo" method="post">
   <div>
      <form:button name="No">
         <button:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.proxy.edit-type.button-no.label"/>
      </form:button>
   </div>
</html:form>
<html:form name="ProxyTypeDelYes" method="post">
   <div>
      <form:button name="Yes">
         <button:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.proxy.edit-type.button-yes.label"/>
      </form:button>
   </div>
</html:form>