<@controller namespace="modules::usermanagement::pres::documentcontroller::proxy" file="type_add_controller" class="umgt_type_add_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<p>Please fill in the following field:</p>
<html:form name="add" method="post">
   <form:error>
      <div class="error-cont">
         The current object type name is already in use. Please try a different one.
      </div>
   </form:error>
   <label for="proxytypename">Visibility type name:</label>
   <form:text id="proxytypename" name="proxytypename" class="formfield" maxlength="100" style="width: 200px;"/>
   <form:addvalidator
      control="proxytypename"
      button="send"
      class="TextLengthValidator"
   />
   <br />
   <br />
   <form:button name="send" value="Save" class="formfield"/>
</html:form>