<@controller
class="APF\modules\usermanagement\pres\documentcontroller\proxy\ProxyTypeDeleteController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.proxy.delete-type.headline" delimiter="."/>
</h3>
<p>
   <html:getstring
         name="intro-text"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.proxy.delete-type.intro.text" delimiter="."/>
</p>
<div class="umgt-warn">
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.proxy.delete-type.warning.text" delimiter="."/>
</div>
<html:form name="ProxyTypeDelNo" method="post">
   <div>
      <form:button name="No">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.proxy.edit-type.button-no.label" delimiter="."/>
      </form:button>
   </div>
</html:form>
<html:form name="ProxyTypeDelYes" method="post">
   <div>
      <form:button name="Yes">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.proxy.edit-type.button-yes.label" delimiter="."/>
      </form:button>
   </div>
</html:form>