<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\proxy\ProxyTypeListController"
@>
<core:addtaglib
   class="APF\modules\usermanagement\pres\taglib\UmgtMediaInclusionTag"
   prefix="umgt"
   name="media"
/>
<h3><html:getstring
       namespace="APF\modules\usermanagement\pres"
       config="labels.ini"
       entry="frontend.proxy.type-list.headline"/></h3>
<p>
   <html:getstring
          namespace="APF\modules\usermanagement\pres"
          config="labels.ini"
          entry="frontend.proxy.type-list.intro.text"/>
</p>
<table class="vis-def">
   <thead>
      <tr>
         <td>&nbsp;</td>
         <td><html:getstring
                namespace="APF\modules\usermanagement\pres"
                config="labels.ini"
                entry="frontend.proxy.type-list.proxy-type.label"/></td>
         <td><html:getstring
                namespace="APF\modules\usermanagement\pres"
                config="labels.ini"
                entry="frontend.proxy.type-list.actions.label"/></td>
      </tr>
   </thead>
   <tbody>
      ${TypeList}
   </tbody>
</table>
<html:template name="Type">
   <tr>
      <td>
         <umgt:media filename="visibility_def_type.png">
            <media:getstring
                   namespace="APF\modules\usermanagement\pres"
                   config="labels.ini"
                   entry="frontend.proxy.type-list.proxy-type-img.label"/>
         </umgt:media>
      </td>
      <td>${AppObjectName}</td>
      <td class="actions">
         <a href="${type_edit}">
           <umgt:media filename="edit.png">
              <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.proxy.type-list.action.edit.label"/>
           </umgt:media>
         </a>
         <a href="${type_delete}">
           <umgt:media filename="delete.png">
              <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.proxy.type-list.action.delete.label"/>
           </umgt:media>
         </a>
      </td>
   </tr>
</html:template>