<@controller
class="APF\modules\usermanagement\pres\documentcontroller\proxy\ProxyTypeEditController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.proxy.edit-type.headline" delimiter="."/>
</h3>
<p>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.proxy.edit-type.intro.text" delimiter="."/>
</p>
<html:form name="add" method="post">
   <div>
      <form:error>
         <div class="error-cont">
            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.proxy.edit-type.validation.message" delimiter="."/>
         </div>
      </form:error>
      <p>
         <label for="proxytypename">
            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.proxy.edit-type.type-name.label" delimiter="."/>
         </label>
         <form:text id="proxytypename" name="proxytypename" maxlength="100"/>
         <form:addvalidator
               class="APF\tools\form\validator\TextLengthValidator"
               control="proxytypename"
               button="send"
               />
      </p>
      <p>
         <form:button name="send">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.proxy.edit-type.button.label" delimiter="."/>
         </form:button>
      </p>
   </div>
</html:form>