<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\proxy\ProxyTypeEditController"
@>
<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
<h3><html:getstring
       namespace="APF\modules\usermanagement\pres"
       config="labels.ini"
       entry="frontend.proxy.edit-type.headline"/></h3>
<p>
   <html:getstring
       namespace="APF\modules\usermanagement\pres"
       config="labels.ini"
       entry="frontend.proxy.edit-type.intro.text"/>
</p>
<html:form name="add" method="post">
   <div>
      <form:error>
         <div class="error-cont">
            <error:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.proxy.edit-type.validation.message"/>
         </div>
      </form:error>
      <p>
         <label for="proxytypename"><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.proxy.edit-type.type-name.label"/></label>
         <form:text id="proxytypename" name="proxytypename" maxlength="100" />
         <form:addvalidator
               class="APF\tools\form\validator\TextLengthValidator"
               control="proxytypename"
               button="send"
               />
      </p>
      <p>
         <form:button name="send">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.proxy.edit-type.button.label"/>
         </form:button>
      </p>
   </div>
</html:form>