<@controller
   namespace="modules::usermanagement::pres::documentcontroller::proxy"
   class="umgt_type_add_controller"
@>
<core:addtaglib namespace="tools::form::taglib" class="HtmlFormTag" prefix="html" name="form" />
<h3><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.add-type.headline"/></h3>
<p><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.proxy.add-type.intro.text"/></p>
<html:form name="add" method="post">
   <form:error>
      <div class="error-cont">
         <error:getstring
                namespace="modules::usermanagement::pres"
                config="labels.ini"
                entry="frontend.proxy.add-type.validator.message"/>
      </div>
   </form:error>
   <p>
      <label for="proxytypename"><form:getstring
             namespace="modules::usermanagement::pres"
             config="labels.ini"
             entry="frontend.proxy.add-type.proxy-type-name.label"/></label>
      <form:text id="proxytypename" name="proxytypename" maxlength="100" />
      <form:addvalidator
            control="proxytypename"
            button="send"
            class="TextLengthValidator"
            />
   </p>
   <p>
      <form:button name="send">
         <button:getstring
             namespace="modules::usermanagement::pres"
             config="labels.ini"
             entry="frontend.proxy.add-type.button.label"/>
      </form:button>
   </p>
</html:form>