<@controller
   class="APF\modules\guestbook2009\pres\controller\admin\GuestbookEditEntryController"
@>
Please select an entry to edit!
<br/>
<br/>
<core:appendnode
      namespace="APF\modules\guestbook2009\pres\templates\admin"
      template="choose"
      />
<div class="gb--admin-edit">
   <div class="gb--admin-edit-form">
      <html:form name="edit_entry" method="post">
         <div class="gb--admin-edit-text">
            Please edit the desired content.
         </div>
         <label class="gb--admin-edit-label-name">Name:</label>
         <form:text
               maxlength="100"
               class="gb--admin-edit-field-name"
               name="name"
               />
         <br/>
         <label class="gb--admin-edit-label-email">Email:</label>
         <form:text
               maxlength="100"
               class="gb--admin-edit-field-email"
               name="email"
               />
         <br/>
         <label class="gb--admin-edit-label-website">Website:</label>
         <form:text
               maxlength="100"
               class="gb--admin-edit-field-website"
               name="website"
               />
         <br/>
         <label class="gb--admin-edit-label-title">Title:</label>
         <form:text
               maxlength="100"
               class="gb--admin-edit-field-title"
               name="title"
               />
         <br/>
         <br/>
         <label class="gb--admin-edit-label-text">Text:</label>
         <br/>
         <form:area
               class="gb--admin-edit-field-text"
               name="text"
               />
         <br/>
         <br/>
         <div class="gb--admin-edit-button-placer">
            <form:button class="gb--admin-edit-button-save" name="send" value="Save"/>
         </div>
         <form:hidden name="entryid"/>
         <form:hidden name="editorid"/>
         <form:addvalidator
               class="APF\tools\form\validator\TextLengthValidator"
               button="send"
               control="name|title|text"
               />
         <form:addfilter
               class="APF\tools\form\filter\NoSpecialCharactersFilter"
               button="send"
               control="name|title"
               />
         <form:addvalidator
               class="APF\tools\form\validator\EMailValidator"
               button="send"
               control="email"
               />
         <form:addfilter
               class="APF\tools\form\filter\StripTagsFilter"
               button="send"
               control="website|text"
               />
         <form:addfilter
               class="APF\tools\form\filter\EMailFilter"
               button="send"
               control="email"
               />
      </html:form>
   </div>
</div>