<@controller namespace="modules::suche::pres::documentcontroller" file="suche_v2_controller" class="suche_v2_controller" @>
<font style="font-size: 16px; font-weight: bold;">Suche</font>
<br />
<br />
<html:placeholder name="Inhalt" />

<html:template name="HeaderText">
  Hier finden Sie die Ergebnisse für den Suchbegriff "<strong><template:placeholder name="Begriff" /></strong>". Die hier berechnete
  Relevanz verbindet die Treffergenauigkeit in Titel und Inhalt der Seite.
  <br />
  <br />
  <br />
  <template:config name="test" value="test" />
</html:template>

<html:template name="KeinBegriff">
  <font style="color: red; font-weight: bold;">Es konnten leider keine Suchergebnisse erzielt werden, da der eingegebene Suchbegriff keine Zeichen enthielt. Bitte
  geben Sie einen Suchbegriff ein!</font>
</html:template>

<html:template name="KeinErgebnis">
  <font style="color: red; font-weight: bold;">Es konnten mit Ihrem Begriff leider keine Suchergebnisse erzielt werden. Bitte geben Sie einen anderen Suchbegriff ein!</font>
</html:template>

<html:template name="ErgebnisEintrag">
  <div style="font-size: 14px; color: blue;">
    <template:placeholder name="Name" />
    <font style="font-size: 10px; color: #888888;">Relevanz: <template:placeholder name="Relevanz" /></font>
  </div>
  <div style="font-size: 10px; color: #888888;">
    <template:placeholder name="Text" />
  </div>
  <div style="font-size: 10px;">
    Seite: <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Name" />"><template:placeholder name="Link" /></a>
  </div>
  <br />
  <br />
</html:template>