<@controller
class="APF\modules\guestbook2009\pres\controller\GuestbookCreateEntryController"
@>
<div class="gb--create-entry">
   <div class="gb--create-text">
      <html:langlabel entry="form.headline.start"/>
      <a href="${overviewlink}" title="<html:langlabel entry="form.headline.link.title"/>">
      <html:langlabel entry="form.headline.link.text"/>
      </a>
      <html:langlabel entry="form.headline.end"/>
   </div>
   <div class="gb--create-form">
      <html:form name="create_entry" method="post">
         <div class="gb--create-block-name">
            <div class="gb--create-label-name">
               <html:langlabel entry="form.label.name"/>
               :
            </div>
            <div class="gb--create-fieldset-name">
               <form:text
                     maxlength="100"
                     class="gb--create-field-name"
                     name="name"
                     />
            </div>
         </div>
         <div class="gb--create-block-email">
            <div class="gb--create-label-email">
               <html:langlabel entry="form.label.email"/>
               :
            </div>
            <div class="gb--create-fieldset-email">
               <form:text
                     maxlength="100"
                     class="gb--create-field-email"
                     name="email"
                     />
            </div>
         </div>
         <div class="gb--create-block-website">
            <div class="gb--create-label-website">
               <html:langlabel entry="form.label.website"/>
               :
            </div>
            <div class="gb--create-fieldset-website">
               <form:text
                     maxlength="100"
                     class="gb--create-field-website"
                     name="website"
                     />
            </div>
         </div>
         <div class="gb--create-block-title">
            <div class="gb--create-label-title">
               <html:langlabel entry="form.label.title"/>
               :
            </div>
            <div class="gb--create-fieldset-title">
               <form:text
                     maxlength="100"
                     class="gb--create-field-title"
                     name="title"
                     />
            </div>
         </div>
         <div class="gb--create-block-text">
            <div class="gb--create-label-text">
               <html:langlabel entry="form.label.text"/>
               :
            </div>
            <div class="gb--create-fieldset-text">
               <form:area
                     class="gb--create-field-text"
                     name="text"
                     />
            </div>
         </div>
         <div class="gb--create-block-captcha">
            <div class="gb--create-label-captcha">
               <html:langlabel entry="form.label.captcha"/>
               :
            </div>
            <div class="gb--create-fieldset-captcha">
               <form:captcha
                     text_class="gb--create-field-captcha-text"
                     image_class="gb--create-field-captcha-image"
                     name="Captcha"
                     clearonerror="true"
                     />
            </div>
         </div>
         <div class="gb--create-button-placer">
            <form:button class="gb--button-create" name="send"/>
            <form:addvalidator
                     class="APF\modules\captcha\pres\validator\CaptchaValidator"
                     control="Captcha"
                     button="send"
                     />
         </div>
         <form:addfilter
               class="APF\tools\form\filter\NoSpecialCharactersFilter"
               button="send"
               control="name|title"
               />
         <form:addfilter
               class="APF\tools\form\filter\StripTagsFilter"
               button="send"
               control="email|website|text"
               />
         <form:addfilter
               class="APF\tools\form\filter\StripTagsFilter"
               button="send"
               control="website|text"
               />
         <form:addfilter
               class="APF\tools\form\filter\EMailFilter"
               button="send"
               control="email"
               />
         <form:addvalidator
               class="APF\tools\form\validator\TextLengthValidator"
               button="send"
               control="name|title|text"
               />
         <form:addvalidator
               class="APF\tools\form\validator\EMailValidator"
               button="send"
               control="email"
               />
      </html:form>
   </div>
</div>