<style type="text/css">
   .gb--entry
   {
      background-color: #efefef;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
   }

   .gb--entry-header
   {
      margin-bottom: 5px;
   }

   .gb--entry-header h4
   {
      font-size: 16px;
      font-weight: bold;
   }

   .gb--entry-body
   {
      margin-bottom: 10px;
   }

   .gb--entry-footer
   {
      font-size: 10px;
   }
</style>
<core:importdesign namespace="modules::guestbook2009::pres::templates" template="[pagepart=list]" />