<@controller namespace="modules::guestbook2009::pres::controller" class="login_controller" file="login_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<div class="gb--login">
   Bitte loggen Sie sich ein um das G&auml;stebuch zu administrieren.
   <br />
   <br />
   <html:form name="login" method="post" action="">
   <form:placeholder name="error" />
      <label class="gb--login-label-user">Benutzer:</label>
      <form:text
         maxlength="100"
         name="username"
         class="gb--login-field-username"
         validate="true"
         button="login"
      />
      <br />
      <label class="gb--login-label-password">Passwort:</label>
      <form:password
         maxlength="100"
         name="password"
         class="gb--login-field-password"
         validate="true"
         button="login"
      />
      <br />
      <br />
      <div class="gb--login-button-placer">
         <form:button name="login" value="Login" class="gb--login-button-login" />
      </div>
   </html:form>
   <html:template name="error">
      <div class="gb--login-error-form">
         Die von Ihnen eingegebenen Zugangsdaten sind falsch!
      </div>
   </html:template>
</div>