<@controller
class="APF\modules\usermanagement\pres\documentcontroller\group\GroupAddController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.group.add.headline" delimiter="."
         />
</h3>
<p>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.group.add.intro.text" delimiter="."
         />
</p>
<html:form name="GroupAdd" method="post">
   <div>
      <form:addvalidator
            class="APF\tools\form\validator\TextLengthValidator"
            control="DisplayName"
            button="Add"
            />
      <p>
         <label>
            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.group.add.display-name.label" delimiter="."
                  />
         </label>
         <form:text name="DisplayName" maxlength="100"/>
      </p>
      <p>
         <label>
            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.group.add.description.label" delimiter="."
                  />
         </label>
         <form:area name="Description"/>
      </p>
      <form:button name="Add">
         <html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.group.add.button.label" delimiter="."
               />
      </form:button>
   </div>
</html:form>