<@controller
   namespace="modules::usermanagement::pres::documentcontroller::group"
   class="umgt_group_add_controller"
@>
<p>
   Please fill in the following fields:
</p>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form"/>
<html:form name="GroupAdd" method="post">
   <form:addvalidator
         class="TextLengthValidator"
         control="DisplayName"
         button="Add"
         />
   <p>
      <label>Display name:</label>
      <form:text name="DisplayName" class="formfield" maxlength="100"/>
   </p>
   <p>
      <label>Description:</label>
      <form:area name="Description" />
   </p>
   <form:button name="Add" class="formfield" value="Add"/>
</html:form>