<@controller
class="APF\modules\usermanagement\pres\documentcontroller\group\GroupAddUserToGroupsController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.add-user-to-group.headline"/>
</h3>
<html:form name="Groups" method="post">
   <div>
      <p>
         <html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.add-user-to-group.intro.text"/>
      </p>
      <p>
         <form:multiselect name="Groups" size="4"/>
      </p>
      <p>
         <form:button name="Add">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.user.add-user-to-group.button.label"/>
         </form:button>
         <form:addvalidator
            class="APF\tools\form\validator\MultiSelectFieldValidator"
            button="Add"
            control="Groups"
            />
      </p>
   </div>
</html:form>

<html:template name="NoMoreGroups">
   <p>
      <html:getstring
            name="message-1"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.user.add-user-to-group.message.1"/>
   </p>
   <p>
      <html:getstring
            name="message-2"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.user.add-user-to-group.message.2"/>
   </p>
</html:template>