<@controller
   namespace="modules::usermanagement::pres::documentcontroller::group"
   class="umgt_group_add_user_to_groups_controller"
@>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form"/>
<core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring"/>
<h3><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.user.add-user-to-group.headline"/></h3>
<html:form name="Groups" method="post">
   <form:addvalidator
         class="MultiSelectFieldValidator"
         button="Add"
         control="Groups"
         />
   <p>
      <form:getstring
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.user.add-user-to-group.intro.text"/>
   </p>
   <p>
      <form:multiselect name="Groups" size="4"/>
   </p>
   <p>
      <form:button name="Add">
         <button:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.user.add-user-to-group.button.label"/>
      </form:button>
   </p>
</html:form>
      
<html:template name="NoMoreGroups">
   <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
   <p>
      <template:getstring
            name="message-1"
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.user.add-user-to-group.message.1"/>
   </p>
   <p>
      <template:getstring
            name="message-2"
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.user.add-user-to-group.message.2"/>
   </p>
</html:template>