<@controller
   namespace="modules::usermanagement::pres::documentcontroller::group"
   class="umgt_group_delete_controller"
@>
<h3>Delete group</h3>
<p>
   Should the group <strong><html:placeholder name="DisplayName" /></strong> really be deleted?
</p>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="GroupDelNo" method="post">
  <form:button name="No" value="No" class="formfield"/>
</html:form>
<html:form name="GroupDelYes" method="post">
  <form:button name="Yes" value="Yes" class="formfield"/>
</html:form>