<@controller
class="APF\modules\usermanagement\pres\documentcontroller\group\GroupDetailsController"
@>
<h3>
   <html:getstring
         name="headline"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.group.details.headline" delimiter="."
         />
</h3>
<h4>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.group.details.group-details.label" delimiter="."
         />
</h4>
<p>
   ${Description}
</p>

<h4>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.group.details.users.label" delimiter="."
         />
</h4>
<html:iterator name="Users">
   <ul>
      <iterator:item>
         <li>
            <umgt:media filename="user.png">
               <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.group.details.user-img.label" delimiter="."
                     />
            </umgt:media>
            ${item->getFirstName()}, ${item->getLastName()}
         </li>
      </iterator:item>
   </ul>
</html:iterator>

<h4>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.group.details.roles.label" delimiter="."
         />
</h4>
<html:iterator name="Roles">
   <ul>
      <iterator:item>
         <li>
            <umgt:media filename="role.png">
               <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.group.details.role-img.label" delimiter="."
                     />
            </umgt:media>
            ${item->getDisplayName()}
         </li>
      </iterator:item>
   </ul>
</html:iterator>