<@controller
   namespace="modules::usermanagement::pres::documentcontroller::group"
   class="umgt_group_edit_controller"
@>
<h3>Edit group</h3>
<p>
   Please fill in the following fields:
</p>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="GroupEdit" method="post">
  <form:addvalidator
    class="TextLengthValidator"
    button="Edit"
    control="DisplayName"
  />
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td><strong>Display name</strong>:</td>
      <td><form:text name="DisplayName" style="width: 200px;" class="formfield" maxlength="100" /></td>
    </tr>
  </table>
  <br />
  <br />
  <form:button name="Edit" class="formfield" value="Save" />
  <form:hidden name="groupid" />
</html:form>
