<@controller
   namespace="modules::usermanagement::pres::documentcontroller::group"
   class="umgt_group_edit_controller"
@>
<h3><html:getstring
      name="headline"
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.group.edit.headline"
      /></h3>
<p>
   <html:getstring
         namespace="modules::usermanagement::pres"
         config="labels.ini"
         entry="frontend.group.edit.intro.text"
         />
</p>
<core:addtaglib namespace="tools::form::taglib" class="HtmlFormTag" prefix="html" name="form" />
<html:form name="GroupEdit" method="post">
   <div>
      <form:addvalidator
            class="TextLengthValidator"
            button="Edit"
            control="DisplayName"
            />
      <p>
         <label><form:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.group.edit.form.display-name.label"
               /></label>
         <form:text name="DisplayName" maxlength="100"/>
      </p>
      <p>
         <label><form:getstring
                     namespace="modules::usermanagement::pres"
                     config="labels.ini"
                     entry="frontend.group.edit.form.description.label"
                     /></label>
         <form:area name="Description"/>
      </p>
      <form:button name="Edit">
         <button:getstring
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.group.edit.form.button.label"
            />
      </form:button>
      <form:hidden name="groupid"/>
   </div>
</html:form>