<@controller
   namespace="modules::usermanagement::pres::documentcontroller::group"
   class="umgt_group_list_controller"
@>
<table class="vis-def">
   <thead>
      <tr>
         <td>&nbsp;</td>
         <td>Display name</td>
         <td>User(s)</td>
         <td>Role(s)</td>
         <td>Action(s)</td>
      </tr>
   </thead>
   <tbody>
      <html:placeholder name="Grouplist"/>
   </tbody>
</table>

<html:template name="Group">
   <template:addtaglib namespace="modules::usermanagement::pres::taglib" prefix="umgt" class="media"/>
   <tr>
      <td>
         <umgt:media filename="group.png" alt="View group details" title="View group details"/>
      </td>
      <td>
         <template:placeholder name="DisplayName"/>
      </td>
      <td>
         <template:placeholder name="Users"/>
      </td>
      <td>
         <template:placeholder name="Roles"/>
      </td>
      <td class="actions">
         <a href="<template:placeholder name="group_details" />" title="View group details">
            <umgt:media filename="details.png" title="View group details"/>
         </a>
         <a href="<template:placeholder name="group_edit" />" title="Edit group">
            <umgt:media filename="edit.png" title="Edit group"/>
         </a>
         <a href="<template:placeholder name="group_delete" />" title="Delete group">
            <umgt:media filename="delete.png" title="Delete group"/>
         </a>
         <a href="<template:placeholder name="AddUsersToGroup" />" title="Add users to group">
            <umgt:media filename="group_add_user.png" title="Add users to group"/>
         </a>
         <a href="<template:placeholder name="RemoveUsersFromGroup" />" title="Remove users from group">
            <umgt:media filename="group_remove_user.png" title="Remove users from group"/>
         </a>
         <a href="<template:placeholder name="AddRolesToGroup" />" title="Add roles to group">
            <umgt:media filename="role_add.png" title="Add roles to group"/>
         </a>
         <a href="<template:placeholder name="RemoveRolesFromGroup" />" title="Remove roles from group">
            <umgt:media filename="role_remove.png" title="Remove roles from group"/>
         </a>
      </td>
   </tr>
</html:template>