<@controller
   namespace="modules::usermanagement::pres::documentcontroller::group"
   class="umgt_group_remove_user_from_groups_controller"
@>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form"/>
<core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring"/>
<h3><html:getstring
       namespace="modules::usermanagement::pres"
       config="labels.ini"
       entry="frontend.user.remove-user-from-group.headline"/></h3>
<html:form name="Groups" method="post">
   <form:addvalidator
         class="MultiSelectFieldValidator"
         button="Remove"
         control="Groups"
         />
   <p>
      <html:getstring
             namespace="modules::usermanagement::pres"
             config="labels.ini"
             entry="frontend.user.remove-user-from-group.intro.text"/>
   </p>
   <p>
      <form:multiselect name="Groups" size="4"/>
   </p>
   <p>
      <form:button name="Remove">
         <html:getstring
                namespace="modules::usermanagement::pres"
                config="labels.ini"
                entry="frontend.user.remove-user-from-group.button.label"/>
      </form:button>
   </p>
</html:form>
      
<html:template name="NoGroups">
   <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring"/>
   <p>
      <template:getstring
            name="message-1"
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.user.remove-user-from-group.message.1"/>
   </p>
   <p>
      <template:getstring
            name="message-2"
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.user.remove-user-from-group.message.2"/>
   </p>
</html:template>