<@controller namespace="modules::usermanagement::pres::documentcontroller::group" class="umgt_userrem_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="User" method="post">
  <form:addvalidator
    class="MultiSelectFieldValidator"
    button="Rem"
    control="User"
  />
  In order to remove a user from this group, please choose one of the following users:
  <br />
  <br />
  <form:multiselect name="User" />
  <br />
  <br />
  <form:button name="Rem" value="Remove" class="formfield"/>
</html:form>
<html:template name="NoMoreUser">There are no users assigned to this group!</html:template>