<@controller namespace="modules::usermanagement::pres::documentcontroller::group" class="umgt_userrem_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form"/>
<html:form name="User" method="post">
   <form:addvalidator
         class="MultiSelectFieldValidator"
         button="Rem"
         control="User"
         />
   <p>
      In order to remove a user from this group, please choose one of the following users:
   </p>
   <p>
      <form:multiselect name="User"/>
   </p>

   <p>
      <form:button name="Rem" value="Remove" class="formfield"/>
   </p>
</html:form>
<html:template name="NoMoreUser">
   <p>
      There are no users assigned to group <strong><template:placeholder name="Group"/></strong>!
   </p>
   <p>
      To go back to the main view, please click <a href="<template:placeholder name="GroupViewLink"/>">here</a>.
   </p>
</html:template>