<@controller namespace="modules::usermanagement::pres::documentcontroller::group" file="userrem_controller" class="userrem_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="User" method="post">
  In order to remove a user from this group, please choose one of the following users:
  <br />
  <br />
  <form:select name="User" validate="true" button="Rem">
    <select:option value=""></select:option>
  </form:select>
  <br />
  <br />
  <form:button name="Rem" value="Remove" class="formfield"/>
</html:form>