<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\login\LoginController"
@>
<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
<html:form class="umgt-fe-login" name="login" method="post">
   <div>
      <form:placeholder name="login-error" />
      <label for="umgt-fe-login-user">
         <form:getstring
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="login.form.username.label" />
      </label>
      <form:text id="umgt-fe-login-user" name="username" />
      <label for="umgt-fe-login-pass">
         <form:getstring
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="login.form.password.label" />
      </label>
      <form:password id="umgt-fe-login-pass" name="password" />
      <label for="umgt-fe-login-remember-me">
         <form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="login.form.remember-me.label" />
      </label>
      <form:checkbox name="remember-me" id="umgt-fe-login-remember-me" value="1" />
      <form:button id="umgt-fe-login-send" name="sendFormLogin">
         <button:getstring
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="login.form.button.label" />
      </form:button>
      <form:addvalidator
         class="APF\tools\form\validator\TextLengthValidator"
         button="sendFormLogin"
         control="username|password"
      />
   </div>
</html:form>

<html:template name="login-error">
   <div class="credentials-error">
      <template:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="login.credentials.error" />
   </div>
</html:template>

<html:template name="system-error">
   <div class="system-error">
      <template:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="login.system.error" />
   </div>
</html:template>

<html:template name="login-ok">
   <div class="credentials-ok">
      <template:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="login.already.logged.in" />
   </div>
</html:template>