<@controller
class="APF\modules\usermanagement\pres\documentcontroller\login\LoginController"
@>
<html:form class="umgt-fe-login" autocomplete="off" name="login" method="post">
   <div>
      ${login-error}
      <label for="umgt-fe-login-user">
         <html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="login.form.username.label" delimiter="."/>
      </label>
      <form:text id="umgt-fe-login-user" name="username"/>
      <label for="umgt-fe-login-pass">
         <html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="login.form.password.label" delimiter="."/>
      </label>
      <form:password id="umgt-fe-login-pass" name="password"/>
      <label for="umgt-fe-login-remember-me">
         <html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="login.form.remember-me.label" delimiter="."/>
      </label>
      <form:checkbox name="remember-me" id="umgt-fe-login-remember-me" value="1"/>
      <form:button id="umgt-fe-login-send" name="sendFormLogin">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="login.form.button.label" delimiter="."/>
      </form:button>
      <form:addvalidator
            class="APF\tools\form\validator\TextLengthValidator"
            button="sendFormLogin"
            control="username|password"
            />
   </div>
</html:form>

<html:template name="login-error">
   <div class="credentials-error">
      <html:getstring
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="login.credentials.error" delimiter="."/>
   </div>
</html:template>

<html:template name="system-error">
   <div class="system-error">
      <html:getstring
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="login.system.error" delimiter="."/>
   </div>
</html:template>

<html:template name="login-ok">
   <div class="credentials-ok">
      <html:getstring
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="login.already.logged.in" delimiter="."/>
   </div>
</html:template>