<@controller class="APF\modules\weather\pres\documentcontroller\WeatherController" @>
<html:placeholder name="Content" />

<html:template name="Channel">
  <h3><template:placeholder name="Title" /></h3>
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Link" />"><template:placeholder name="Link" /></a>
  <br />
  <br />
  <template:placeholder name="Description" />
  <br />
  <template:placeholder name="Items" />
</html:template>

<html:template name="Item">
  <br />
  <br />
  <h4><template:placeholder name="Title" /></h4>
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Link" />"><template:placeholder name="Link" /></a>
  <br />
  <br />
  <template:placeholder name="Description" />
  <br />
</html:template>

<html:template name="NoEntries_de">
  <h3>Fehler</h3>
  Es konnten leider keine RSS-Feed-Informationen unter <strong><template:placeholder name="Source" /></strong>
  abgerufen werden.
</html:template>


<html:template name="NoEntries_en">
  <h3>Error</h3>
  The RSS feed information cannot be obtained from <strong><template:placeholder name="Source" /></strong>.
</html:template>