<@controller
class="APF\extensions\arraypager\pres\documentcontroller\ArrayPagerController"
@>
<html:template name="pager">
   <div style="width: 100%; border: 0; text-align: left; padding-bottom: 2px;">
      ${PreviousPage}${Pager}${NextPage}
      ${Entries}
   </div>
   <br/>
</html:template>

<html:template name="Page_Selected">
   <a href="${URL}" title="<html:getstring namespace="APF\extensions\arraypager" config="language" entry="DisplayPage"
   /> ${Page}"><font style="font-size: 16px; font-weight: bold;">${Page}</font></a>&nbsp;&nbsp;
</html:template>

<html:template name="Page">
   <a href="${URL}" title="<html:getstring namespace="APF\extensions\arraypager" config="language" entry="DisplayPage"
   /> ${Page}">${Page}</a>&nbsp;&nbsp;
</html:template>

<html:template name="PreviousPage_Active">
   <a href="${URL}" title="<html:getstring namespace="APF\extensions\arraypager" config="language"
   entry="DisplayPreviousPage" />"><font style="font-size: 14px;">&laquo;</font></a>&nbsp;&nbsp;
</html:template>

<html:template name="PreviousPage_Inactive">
   <font style="font-size: 14px;">&laquo;</font>&nbsp;&nbsp;
</html:template>

<html:template name="NextPage_Active">
   <a href="${URL}" title="<html:getstring namespace="APF\extensions\arraypager" config="language"
   entry="DisplayNextPage" />"><font style="font-size: 14px;">&raquo;</font></a>
</html:template>

<html:template name="NextPage_Inactive">
   <font style="font-size: 14px;">&raquo;</font>
</html:template>

<html:template name="Entries_Active">
   <a href="${URL}" title="${Entries} <html:getstring namespace="APF\extensions\arraypager" config="language"
   entry="DisplayNEntriesPerPage" />"><strong>${Entries}</strong></a> |
</html:template>

<html:template name="Entries_Inactive">
   <a href="${URL}" title="${Entries} <html:getstring namespace="APF\extensions\arraypager" config="language"
   entry="DisplayNEntriesPerPage" />">${Entries}</a> |
</html:template>

<html:template name="Entries">
   <br/>
   <font style="font-size: 9px;">
      <html:getstring namespace="APF\extensions\arraypager" config="language" entry="Entries"/>
   </font>&nbsp;|${Entries}
</html:template>
