<@controller namespace="extensions::arraypager::pres::documentcontroller" file="arraypager_controller" class="arraypager_controller" @>
<div style="width: 100%; border: 0px solid black; text-align: left; padding-bottom: 2px;">
  <html:placeholder name="PreviousPage" /><html:placeholder name="Pager" /><html:placeholder name="NextPage" />
  <html:placeholder name="Entries" />
</div>
<br />

<html:template name="Page_Selected">
<template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <a href="<template:placeholder name="URL" />" title="<template:getstring namespace="extensions::arraypager" config="language" entry="DisplayPage" /> <template:placeholder name="Page" />"><font style="font-size: 16px; font-weight: bold;"><template:placeholder name="Page" /></font></a>&nbsp;&nbsp;
</html:template>

<html:template name="Page">
<template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <a href="<template:placeholder name="URL" />" title="<template:getstring namespace="extensions::arraypager" config="language" entry="DisplayPage" /> <template:placeholder name="Page" />"><template:placeholder name="Page" /></a>&nbsp;&nbsp;
</html:template>

<html:template name="PreviousPage_Active">
<template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <a href="<template:placeholder name="URL" />" title="<template:getstring namespace="extensions::arraypager" config="language" entry="DisplayPreviousPage" />"><font style="font-size: 14px;">&laquo;</font></a>&nbsp;&nbsp;
</html:template>

<html:template name="PreviousPage_Inactive">
  <font style="font-size: 14px;">&laquo;</font>&nbsp;&nbsp;
</html:template>

<html:template name="NextPage_Active">
<template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <a href="<template:placeholder name="URL" />" title="<template:getstring namespace="extensions::arraypager" config="language" entry="DisplayNextPage" />"><font style="font-size: 14px;">&raquo;</font></a>
</html:template>

<html:template name="NextPage_Inactive">
  <font style="font-size: 14px;">&raquo;</font>
</html:template>

<html:template name="Entries_Active">
<template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <a href="<template:placeholder name="URL" />" title="<template:placeholder name="Entries" /> <template:getstring namespace="extensions::arraypager" config="language" entry="DisplayNEntriesPerPage" />"><strong><template:placeholder name="Entries" /></strong></a> |
</html:template>

<html:template name="Entries_Inactive">
<template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <a href="<template:placeholder name="URL" />" title="<template:placeholder name="Entries" /> <template:getstring namespace="extensions::arraypager" config="language" entry="DisplayNEntriesPerPage" />"><template:placeholder name="Entries" /></a> |
</html:template>

<html:template name="Entries">
<template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <br />
  <font style="font-size: 9px;"><template:getstring namespace="extensions::arraypager" config="language" entry="Entries" /></font>&nbsp;|<template:placeholder name="Entries" />
</html:template>
