<@controller
   namespace="modules::usermanagement::pres::documentcontroller::role"
   class="umgt_role_add_controller"
@>
<core:addtaglib namespace="tools::form::taglib" class="html_taglib_form" prefix="html" name="form" />
<h3><html:getstring
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.role.add.headline"/></h3>
<html:form name="RoleAdd" method="post">
   <p>
      <form:getstring
         namespace="modules::usermanagement::pres"
         config="labels.ini"
         entry="frontend.role.add.intro.text"/>
   </p>
   <p>
      <label><form:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.role.add.display-name.label"/></label>
      <form:text name="DisplayName" maxlength="100" />
      <form:addvalidator
         class="TextLengthValidator"
         button="Add"
         control="DisplayName"
      />
   </p>
   <p>
      <label><form:getstring
                     namespace="modules::usermanagement::pres"
                     config="labels.ini"
                     entry="frontend.role.add.description.label"/></label>
      <form:area name="Description"/>
   </p>
   <p>
      <label><form:getstring
                     namespace="modules::usermanagement::pres"
                     config="labels.ini"
                     entry="frontend.role.add.permissions.label"/></label>
      <form:multiselect name="Permission" size="4"/>
      <form:addvalidator
         class="MultiSelectFieldValidator"
         button="Add"
         control="Permission"
      />
   </p>
   <p>
      <form:button name="Add">
         <button:getstring
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.role.add.button.label"/>
      </form:button>
   </p>
</html:form>