<@controller
class="APF\modules\usermanagement\pres\documentcontroller\role\RoleAddController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.role.add.headline" delimiter="."/>
</h3>
<html:form name="RoleAdd" method="post">
   <div>
      <p>
         <html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.role.add.intro.text" delimiter="."/>
      </p>
      <p>
         <label>
            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.role.add.display-name.label" delimiter="."/>
         </label>
         <form:text name="DisplayName" maxlength="100"/>
         <form:addvalidator
               class="APF\tools\form\validator\TextLengthValidator"
               button="Add"
               control="DisplayName"
               />
      </p>
      <p>
         <label>
            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.role.add.description.label" delimiter="."/>
         </label>
         <form:area name="Description"/>
      </p>
      <p>
         <label>
            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.role.add.permissions.label" delimiter="."/>
         </label>
         <form:multiselect name="Permission" size="4"/>
         <form:addvalidator
               class="APF\tools\form\validator\MultiSelectFieldValidator"
               button="Add"
               control="Permission"
               />
      </p>
      <p>
         <form:button name="Add">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.role.add.button.label" delimiter="."/>
         </form:button>
      </p>
   </div>
</html:form>