<@controller
   namespace="modules::usermanagement::pres::documentcontroller::role"
   class="add_permission_to_role_controller"
@>
<core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring" />
<h3><html:getstring
     namespace="modules::usermanagement::pres"
     config="labels.ini"
     entry="frontend.role.add-permission-to-role.headline"/></h3>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form"/>
<html:form name="Permissions" method="post">
   <form:addvalidator
         class="MultiSelectFieldValidator"
         button="Assign"
         control="Permissions"
         />
   <p>
      <form:getstring
         name="display-name"
         namespace="modules::usermanagement::pres"
         config="labels.ini"
         entry="frontend.role.add-permission-to-role.intro.text"/>
   </p>
   <p>
      <form:multiselect name="Permissions" size="4"/>
   </p>
   <p>
      <form:button name="Assign">
         <button:getstring
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.role.add-permission-to-role.button.label"/>
      </form:button>
   </p>
</html:form>
<html:template name="NoMorePermissions">
   <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
   <p>
      <template:getstring
            name="message-1"
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.role.add-permission-to-role.message.1"/>
   </p>
   <p>
      <template:getstring
            name="message-2"
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.role.add-permission-to-role.message.2"/>
   </p>
</html:template>