<@controller namespace="modules::usermanagement::pres::documentcontroller::role" file="umgt_ass2user_controller" class="umgt_ass2user_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="User" method="post">
  <form:addvalidator
    class="MultiSelectFieldValidator"
    button="Assign"
    control="User"
  />
  Please choose one or more of the following users:
  <br />
  <br />
  <form:multiselect name="User" size="4" />
  <br />
  <br />
  <form:button name="Assign" value="Assign" class="formfield"/>
</html:form>
<html:template name="NoMoreUser">All users are already assigned to this role!</html:template>