<@controller
class="APF\modules\usermanagement\pres\documentcontroller\role\RoleAddUsersController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.role.assign-role-to-users.headline"/>
</h3>
<html:form name="User" method="post">
   <div>
      <form:addvalidator
            class="APF\tools\form\validator\MultiSelectFieldValidator"
            button="Assign"
            control="User"
            />
      <p>
         <html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.role.assign-role-to-users.intro.text"/>
      </p>
      <p>
         <form:multiselect name="User" size="4"/>
      </p>
      <p>
         <form:button name="Assign">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.role.assign-role-to-users.button.label"/>
         </form:button>
      </p>
   </div>
</html:form>
<html:template name="NoMoreUser">
   <p>
      <html:getstring
            name="message-1"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.role.assign-role-to-users.message.1"/>
   </p>
   <p>
      <html:getstring
            name="message-2"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.role.assign-role-to-users.message.2"/>
   </p>
</html:template>