<@controller namespace="modules::usermanagement::pres::documentcontroller::role" file="delete_controller" class="delete_controller" @>
Should the role <strong><html:placeholder name="DisplayName" /></strong> really be deleted?
<br />
<br />
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="RoleDelNo" method="post">
  <form:button name="No" value="No" class="formfield"/>
</html:form>
<html:form name="RoleDelYes" method="post">
  <form:button name="Yes" value="Yes" class="formfield"/>
</html:form>