<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\role\RoleDetailsController
@>
<core:addtaglib namespace="tools::html::taglib" class="HtmlIteratorTag" prefix="html" name="iterator" />
<h3><html:getstring
      name="display-name"
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.role.details.headline"/></h3>
<p>
   <html:placeholder name="Description" />
</p>
<h4><html:getstring
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.role.details.permissions.label"/></h4>
<html:iterator name="Permissions">
   <ul>
      <iterator:item>
         <item:addtaglib class="APF\modules\usermanagement\pres\taglib\UmgtMediaInclusionTag" prefix="umgt" name="media" />
         <li>
            <umgt:media filename="permission.png">
               <media:getstring
                  namespace="modules::usermanagement::pres"
                  config="labels.ini"
                  entry="frontend.role.details.permission-img.label"/>
            </umgt:media>
            <item:placeholder getter="getDisplayName" />
            (<em><item:placeholder getter="getName" />=<item:placeholder getter="getValue" /></em>)
         </li>
      </iterator:item>
   </ul>
</html:iterator>

<h4><html:getstring
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.role.details.users.label"/></h4>
<html:iterator name="Users">
   <ul>
      <iterator:item>
         <item:addtaglib class="APF\modules\usermanagement\pres\taglib\UmgtMediaInclusionTag" prefix="umgt" name="media" />
         <li>
            <umgt:media filename="user.png">
               <media:getstring
                  namespace="modules::usermanagement::pres"
                  config="labels.ini"
                  entry="frontend.role.details.user-img.label"/>
            </umgt:media>
            <item:placeholder getter="getFirstName" />, <item:placeholder getter="getLastName" />
         </li>
      </iterator:item>
   </ul>
</html:iterator>

<h4><html:getstring
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.role.details.groups.label"/></h4>
<html:iterator name="Groups">
   <ul>
      <iterator:item>
         <item:addtaglib class="APF\modules\usermanagement\pres\taglib\UmgtMediaInclusionTag" prefix="umgt" name="media" />
         <li>
            <umgt:media filename="group.png">
               <media:getstring
                  namespace="modules::usermanagement::pres"
                  config="labels.ini"
                  entry="frontend.role.details.group-img.label"/>
            </umgt:media>
            <item:placeholder getter="getDisplayName" />
         </li>
      </iterator:item>
   </ul>
</html:iterator>