<@controller
class="APF\modules\usermanagement\pres\documentcontroller\role\RoleDetailsController
@>
<h3>
   <html:getstring
         name="display-name"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.role.details.headline" delimiter="."/>
</h3>
<p>
   ${Description}
</p>
<h4>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.role.details.permissions.label" delimiter="."/>
</h4>
<html:iterator name="Permissions">
   <ul>
      <iterator:item>
         <li>
            <umgt:media filename="permission.png">
               <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.role.details.permission-img.label" delimiter="."/>
            </umgt:media>
            ${item->getDisplayName()}
            (<em>${item->getName()}=${item->getValue()}</em>)
         </li>
      </iterator:item>
   </ul>
</html:iterator>

<h4>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.role.details.users.label" delimiter="."/>
</h4>
<html:iterator name="Users">
   <ul>
      <iterator:item>
         <li>
            <umgt:media filename="user.png">
               <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.role.details.user-img.label" delimiter="."/>
            </umgt:media>
            ${item->getFirstName()}, ${item->getLastName()}
         </li>
      </iterator:item>
   </ul>
</html:iterator>

<h4>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.role.details.groups.label" delimiter="."/>
</h4>
<html:iterator name="Groups">
   <ul>
      <iterator:item>
         <li>
            <umgt:media filename="group.png">
               <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.role.details.group-img.label" delimiter="."/>
            </umgt:media>
            ${item->getDisplayName()}
         </li>
      </iterator:item>
   </ul>
</html:iterator>