<@controller
   namespace="modules::usermanagement::pres::documentcontroller::role"
   class="umgt_edit_controller"
@>
<h3>Edit role</h3>
<p>
   Please fill in the following fields:
</p>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form"/>
<html:form name="RoleEdit" method="post">
   <p>
      <strong>Display name</strong>:
      <form:text name="DisplayName" style="width: 200px;" class="formfield" maxlength="100"/>
      <form:addvalidator
            class="TextLengthValidator"
            button="Edit"
            control="DisplayName"
            />
   </p>
   <!--
   <p>
      <strong>Comment</strong>:
      <form:area name="Comment" optional="true"/>
      <form:addvalidator
         class="TextLengthValidator"
         button="Edit"
         control="Comment"
      />
   </p>-->
   <p>
      <form:button name="Edit" class="formfield" value="Save"/>
   </p>
   <form:hidden name="roleid"/>
</html:form>