<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\role\RoleEditController"
@>
<h3><html:getstring
      namespace="APF\modules\usermanagement\pres"
      config="labels.ini"
      entry="frontend.role.edit.headline"/></h3>
<p>
   <html:getstring
      namespace="APF\modules\usermanagement\pres"
      config="labels.ini"
      entry="frontend.role.edit.intro.text"/>
</p>
<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
<html:form name="RoleEdit" method="post">
   <div>
      <p>
         <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.role.edit.display-name.label"/></label>
         <form:text name="DisplayName" maxlength="100"/>
         <form:addvalidator
               class="APF\tools\form\validator\TextLengthValidator"
               button="Edit"
               control="DisplayName"
               />
      </p>
      <p>
         <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.role.edit.description.label"/></label>
         <form:area name="Description"/>
      </p>
      <p>
         <form:button name="Edit">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.role.edit.button.label"/>
         </form:button>
      </p>
      <form:hidden name="roleid"/>
   </div>
</html:form>