<@controller
   namespace="modules::usermanagement::pres::documentcontroller::role"
   class="umgt_role_edit_controller"
@>
<core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring" />
<h3><html:getstring
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.role.edit.headline"/></h3>
<p>
   <html:getstring
      namespace="modules::usermanagement::pres"
      config="labels.ini"
      entry="frontend.role.edit.intro.text"/>
</p>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form"/>
<html:form name="RoleEdit" method="post">
   <p>
      <label><form:getstring
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.role.edit.display-name.label"/></label>
      <form:text name="DisplayName" maxlength="100"/>
      <form:addvalidator
            class="TextLengthValidator"
            button="Edit"
            control="DisplayName"
            />
   </p>
   <p>
      <label><form:getstring
                  namespace="modules::usermanagement::pres"
                  config="labels.ini"
                  entry="frontend.role.edit.description.label"/></label>
      <form:area name="Description"/>
   </p>
   <p>
      <form:button name="Edit">
         <button:getstring
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.role.edit.button.label"/>
      </form:button>
   </p>
   <form:hidden name="roleid"/>
</html:form>