<@controller
class="APF\modules\usermanagement\pres\documentcontroller\role\RemoveGroupFromRolesController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.group.remove-roles-from-group.headline"
         />
</h3>
<html:form name="Roles" method="post">
   <div>
      <p>
         <html:getstring
               name="display-name"
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.group.remove-roles-from-group.intro.text"
               />
      </p>
      <p>
         <form:multiselect name="Roles" size="4"/>
      </p>
      <p>
         <form:button name="Remove">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.group.remove-roles-from-group.label"
                  />
         </form:button>
         <form:addvalidator
            class="APF\tools\form\validator\MultiSelectFieldValidator"
            button="Remove"
            control="Roles"
            />
      </p>
   </div>
</html:form>

<html:template name="NoMoreRoles">
   <p>
      <html:getstring
            name="message-1"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.group.remove-roles-from-group.message.1"/>
   </p>
   <p>
      <html:getstring
            name="message-2"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.group.remove-roles-from-group.message.2"/>
   </p>
</html:template>