<@controller
class="APF\modules\usermanagement\pres\documentcontroller\role\RemoveUserFromRolesController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.remove-user-from-role.headline"/>
</h3>
<html:form name="Roles" method="post">
   <div>
      <form:addvalidator
            class="APF\tools\form\validator\MultiSelectFieldValidator"
            button="Remove"
            control="Roles"
            />
      <p>
         <html:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.remove-user-from-role.intro.text"/>
      </p>
      <p>
         <form:multiselect name="Roles" size="4"/>
      </p>
      <p>
         <form:button name="Remove">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.user.remove-user-from-role.button.label"/>
         </form:button>
      </p>
   </div>
</html:form>
<html:template name="NoMoreRoles">
   <p>
      <html:getstring
            name="message-1"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.user.remove-user-from-role.message.1"/>
   </p>
   <p>
      <html:getstring
            name="message-2"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.user.remove-user-from-role.message.2"/>
   </p>
</html:template>