<@controller
   class="APF\modules\usermanagement\pres\documentcontroller\role\RemovePermissionFromRoleController"
@>
<h3><html:getstring
     namespace="APF\modules\usermanagement\pres"
     config="labels.ini"
     entry="frontend.role.remove-permission-from-role.headline"/></h3>
<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
<html:form name="Permissions" method="post">
   <div>
      <form:addvalidator
            class="APF\tools\form\validator\MultiSelectFieldValidator"
            button="Remove"
            control="Permissions"
            />
      <p>
         <form:getstring
               name="display-name"
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.role.remove-permission-from-role.intro.text"/>
      </p>
      <p>
         <form:multiselect name="Permissions" size="4"/>
      </p>
      <p>
         <form:button name="Remove">
            <button:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.role.remove-permission-from-role.button.label"/>
         </form:button>
      </p>
   </div>
</html:form>
<html:template name="NoMorePermissions">
   <p>
      <template:getstring
            name="message-1"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.role.remove-permission-from-role.message.1"/>
   </p>
   <p>
      <template:getstring
            name="message-2"
            namespace="APF\modules\usermanagement\pres"
            config="labels.ini"
            entry="frontend.role.remove-permission-from-role.message.2"/>
   </p>
</html:template>