<@controller class="APF\modules\contact\pres\documentcontroller\ContactFormController" @>
<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
<p>
   <html:getstring namespace="APF\modules\contact" config="language" entry="formhint.text" />
</p>
<div class="contact-form">
   <html:form name="contact" method="post">
      <div>
         <form:error id="toperror">
            <div class="error-container">
               <ul>
         </form:error>
         <form:listener control="AbsenderName" id="sender-error">
            <li><listener:placeholder name="content" /></li>
         </form:listener>
         <form:listener control="AbsenderAdresse" id="addr-error">
            <li><listener:placeholder name="content" /></li>
         </form:listener>
         <form:listener control="Betreff" id="subject-error">
            <li><listener:placeholder name="content" /></li>
         </form:listener>
         <form:listener control="Text" id="text-error">
            <li><listener:placeholder name="content" /></li>
         </form:listener>
         <form:listener control="captcha" id="captcha-error">
            <li><listener:placeholder name="content" /></li>
         </form:listener>
         <form:error id="bottomerror">
               </ul>
            </div>
         </form:error>
         <form:addvalidator
            class="APF\tools\form\validator\TextLengthValidator"
            button="sendFormContact"
            control="AbsenderName|Betreff|Text"
         />
         <form:addvalidator
            class="APF\tools\form\validator\EMailValidator"
            button="sendFormContact"
            control="AbsenderAdresse"
         />
         <form:addfilter
            class="APF\tools\form\validator\EMailFilter"
            button="sendFormContact"
            control="AbsenderAdresse"
         />
         <label for="contact-form-recipient">
            <form:getstring namespace="APF\modules\contact" config="language" entry="form.person" />
         </label>
         <form:select id="contact-form-recipient" name="Empfaenger" />
         <label for="contact-form-sendername">
            <form:getstring namespace="APF\modules\contact" config="language" entry="form.name" />
         </label>
         <form:text id="contact-form-sendername" name="AbsenderName" />
         <label for="contact-form-recipient-email">
            <form:getstring namespace="APF\modules\contact" config="language" entry="form.email" />
         </label>
         <form:text id="contact-form-recipient-email" name="AbsenderAdresse" />
         <label for="contact-form-subject">
            <form:getstring namespace="APF\modules\contact" config="language" entry="form.subject" />
         </label>
         <form:text id="contact-form-subject" name="Betreff" />
         <label for="contact-form-textarea">
            <form:getstring namespace="APF\modules\contact" config="language" entry="form.comment" />
         </label>
         <form:area id="contact-form-textarea" name="Text" cols="50" rows="6"/>
         <div class="fullsizebox captchabox">
            <label for="contact-form-captcha">
               <form:getstring namespace="APF\modules\contact" config="language" entry="form.captcha" />
            </label>
            <form:addtaglib class="APF\modules\captcha\pres\taglib\SimpleCaptchaTag" prefix="form" name="captcha" />
            <form:captcha
               name="captcha-control"
               clearonerror="true"
               text_id="contact-form-captcha"
               disable_inline="true"
            />
            <form:addvalidator
               class="APF\modules\captcha\pres\validator\CaptchaValidator"
               control="captcha-control"
               button="sendFormContact"
            />
         </div>
         <div class="fullsizebox buttonbox">
            <form:button name="sendFormContact" class="button"/>
         </div>
      </div>
   </html:form>
</div>