<@controller namespace="modules::guestbook::pres::documentcontroller" class="guestbook_adminlogin_v1_controller" @>
<core:addtaglib namespace="tools::form::taglib" class="html_taglib_form" prefix="html" name="form" />
<br />
<br />
<strong>G&auml;stebuch administrieren:</strong>
<br />
<br />
Hier kannst du dich einloggen um das G&auml;stebuch zu administrieren.
<br />
<br />
<html:placeholder name="Form" />

<html:form name="AdminLogin" method="post" action="">
  <form:placeholder name="LogInError" />
  Benutzer: <form:text name="Username" class="eingabe_feld" style="width: 200px; margin-left: 20px;" />
  <br />
  Passwort: <form:password name="Password" class="eingabe_feld" style="width: 200px; margin-left: 16px;" />
  <br />
  <br />
  <form:button name="AdminLogin" value="Login" class="eingabe_feld" style="margin-left: 227px;"/>
  <form:addvalidator
     class="TextLengthValidator"
     control="Username|Password"
     button="AdminLogin"
  />
</html:form>

<html:template name="LogInError">
  <font style="color: red; font-weight: bold;">Die von Ihnen eingegebenen Zugangsdaten sind falsch!</font>
  <br />
  <br />
</html:template>