<@controller namespace="modules::guestbook::pres::documentcontroller" class="guestbook_admindelete_v1_controller" @>
<core:addtaglib namespace="tools::form::taglib" class="html_taglib_form" prefix="html" name="form" />
<br />
<br />
<strong>Beitrag l&ouml;schen:</strong>
<br />
<br />
Bist du sicher, dass du diesen Eintrag l&ouml;schen m&ouml;chtest?
<br />
<br />
<div style="width: 300px; text-align: center;">
   <html:form name="FormNo" method="post">
      <form:button name="AdminDeleteNo" value="Nein" class="eingabe_feld" />
   </html:form>

   <html:form name="FormYes" method="post">
      <form:button name="AdminDeleteYes" value="Ja" class="eingabe_feld" />
   </html:form>
</div>