<@controller namespace="modules::guestbook::pres::documentcontroller" class="guestbook_adminedit_v1_controller" @>
<style type="text/css">
.formtable
{
  width: 100%;
  border: 0px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.formtable_row_description
{
   width: 20%;
   border: 0px solid red;
}

.formtable_row_control
{
   width: 80%;
   border: 0px solid red;
}

.formcontrol_text
{
   width: 300px;
}
</style>

<core:addtaglib namespace="tools::form::taglib" class="html_taglib_form" prefix="html" name="form" />
<br />
<br />
<strong>Neuen Eintrag verfassen:</strong>
<br />
<br />
Hier kannst du deinen Eintrag verfassen! F&uuml;lle die Pflicht-Felder vollst&auml;ndig aus!
<br />
<br />
<html:placeholder name="Form" />

<html:form name="GuestbookEntry" method="post" action="">
  <table cellpadding="0" cellspacing="0" class="formtable">
    <tr>
      <td class="formtable_row_description">
        Ihr Name: *
      </td>
      <td class="formtable_row_control">
        <form:text name="Name" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        Ihre eMail-Adresse: *
      </td>
      <td class="formtable_row_control">
        <form:text name="EMail" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        Ihr Wohnort:
      </td>
      <td class="formtable_row_control">
        <form:text name="City" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        Ihre Webseite:
      </td>
      <td class="formtable_row_control">
        <form:text name="Website" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        ICQ-Nummer:
      </td>
      <td class="formtable_row_control">
        <form:text name="ICQ" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        MSN-Kennung:
      </td>
      <td class="formtable_row_control">
        <form:text name="MSN" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        Skype-Name:
      </td>
      <td class="formtable_row_control">
        <form:text name="Skype" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        AIM-Kennung:
      </td>
      <td class="formtable_row_control">
        <form:text name="AIM" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        Yahoo-Messenger-ID:
      </td>
      <td class="formtable_row_control">
        <form:text name="Yahoo" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td colspan="2" class="formtable_row_description">
        <br />
        <strong>Ihr Text:</strong> *
        <br />
        <br />
        <form:area name="Text" class="eingabe_feld" style="height: 200px; width: 480px; overflow: auto;" />
      </td>
    </tr>
  </table>
  <br />
  <span style="font-size: 11px;">
    <strong>Hinweis:</strong> Die mit "*" gekennzeichneten Felder sind Pflichtfelder!
  </span>
  <br />
  <br />
  <br />
  <form:button name="CreateGuestbookEntryButton" value="Speichern" class="eingabe_feld" />
  <form:hidden name="entryid" value="" />
  <form:addvalidator
     class="TextLengthValidator"
     button="CreateGuestbookEntryButton"
     control="Text|Name"
  />
  <form:addvalidator
     class="EMailValidator"
     button="CreateGuestbookEntryButton"
     control="EMail"
  />
</html:form>