<@controller namespace="modules::guestbook::pres::documentcontroller" class="guestbook_admindeletecomment_v1_controller" @>
<core:addtaglib namespace="tools::form::taglib" class="html_taglib_form" prefix="html" name="form" />
<br />
<br />
<strong>Kommentar l&ouml;schen:</strong>
<br />
<br />
Bist du sicher, dass du diesen Kommentar l&ouml;schen m&ouml;chtest?
<br />
<br />
<div style="width: 300px; text-align: center;">
  <html:placeholder name="FormNo" />
  <html:placeholder name="FormYes" />
</div>

<html:form name="FormNo" method="post" action="">
  <form:button name="AdminDeleteNo" value="Nein" class="eingabe_feld" />
</html:form>

<html:form name="FormYes" method="post" action="">
  <form:button name="AdminDeleteYes" value="Ja" class="eingabe_feld" />
</html:form>