<@controller namespace="modules::guestbook::pres::documentcontroller" class="guestbook_adminaddcomment_v1_controller" @>
<style type="text/css">
.formtable
{
  width: 100%;
  border: 0px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.formtable_row_description
{
   width: 20%;
   border: 0px solid red;
}

.formtable_row_control
{
   width: 80%;
   border: 0px solid red;
}

.formcontrol_text
{
   width: 300px;
}
</style>

<core:addtaglib namespace="tools::form::taglib" class="html_taglib_form" prefix="html" name="form" />
<br />
<br />
<strong>Neuen Kommentar verfassen:</strong>
<br />
<br />
Hier kannst du deinen Kommentar zum ausgew&auml;hlen Eintrag verfassen! F&uuml;lle die Pflicht-Felder vollst&auml;ndig aus!
<br />
<br />
<html:placeholder name="Form" />

<html:form name="GuestbookAddComment" method="post" action="">
  <table cellpadding="0" cellspacing="0" class="formtable">
    <tr>
      <td class="formtable_row_description">
        Ihr Titel: *
      </td>
      <td class="formtable_row_control">
        <form:text name="Title" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td colspan="2" class="formtable_row_description">
        <br />
        <strong>Ihr Text:</strong> *
        <br />
        <br />
        <form:area name="Text" class="eingabe_feld" style="height: 200px; width: 480px; overflow: auto;" />
      </td>
    </tr>
  </table>
  <br />
  <span style="font-size: 11px;">
    <strong>Hinweis:</strong> Die mit "*" gekennzeichneten Felder sind Pflichtfelder!
  </span>
  <br />
  <br />
  <br />
  <form:button name="CreateCommentButton" value="Speichern" class="eingabe_feld" />
  <form:hidden name="entryid" value="" />
  <form:addvalidator
     class="TextLengthValidator"
     control="Title|Text"
     button="CreateCommentButton"
  />
</html:form>