<@controller namespace="modules::guestbook::pres::documentcontroller" class="guestbook_createentry_v1_controller" @>
<style type="text/css">
.formtable
{
  width: 100%;
  border: 0px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.formtable_row_description
{
   width: 20%;
   border: 0px solid red;
}

.formtable_row_control
{
   width: 80%;
   border: 0px solid red;
}

.formcontrol_text
{
   width: 300px;
}
</style>
<core:addtaglib namespace="tools::form::taglib" class="HtmlFormTag" prefix="html" name="form" />
<br />
<br />
<strong><html:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Title" /></strong>
<br />
<br />
<html:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Hint" />
<br />
<br />

<html:form name="GuestbookEntry" method="post">
  <table cellpadding="0" cellspacing="0" class="formtable">
    <tr>
      <td class="formtable_row_description">
        <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.Name" />
      </td>
      <td class="formtable_row_control">
        <form:text name="Name" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.EMail" />
      </td>
      <td class="formtable_row_control">
        <form:text name="EMail" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.City" />
      </td>
      <td class="formtable_row_control">
        <form:text name="City" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.Website" />
      </td>
      <td class="formtable_row_control">
        <form:text name="Website" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.ICQ" />
      </td>
      <td class="formtable_row_control">
        <form:text name="ICQ" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.MSN" />
      </td>
      <td class="formtable_row_control">
        <form:text name="MSN" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.Skype" />
      </td>
      <td class="formtable_row_control">
        <form:text name="Skype" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.AIM" />
      </td>
      <td class="formtable_row_control">
        <form:text name="AIM" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td class="formtable_row_description">
        <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.Yahoo" />
      </td>
      <td class="formtable_row_control">
        <form:text name="Yahoo" class="eingabe_feld" style="width: 300px;" />
      </td>
    </tr>
    <tr>
      <td colspan="2" class="formtable_row_description">
        <br />
        <strong><form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.Text" /></strong> *
        <br />
        <br />
        <form:area name="Text" class="eingabe_feld" style="height: 200px; width: 480px; overflow: auto;" />
      </td>
    </tr>
    <tr>
      <td colspan="2" class="formtable_row_description">
        <br />
        <strong><form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.Captcha" /></strong>
        <br />
        <br />
        <form:addtaglib namespace="modules::captcha::pres::taglib" class="SimpleCaptchaTag" prefix="form" name="captcha" />
        <form:captcha text_class="eingabe_feld" clearonerror="true" name="Captcha"/>
         <form:addvalidator
            namespace="modules::captcha::pres::validator"
            class="CaptchaValidator"
            control="Captcha"
            button="CreateGuestbookEntryButton"
         />
      </td>
    </tr>
  </table>
  <br />
  <span style="font-size: 11px;">
    <form:getstring namespace="modules::guestbook" config="guestbook_lang" entry="CreateEntry.Form.Hint" />
  </span>
  <br />
  <br />
  <br />
  <form:button name="CreateGuestbookEntryButton" value="Eintragen" class="eingabe_feld" />
  <form:addvalidator
    class="TextLengthValidator"
    button="CreateGuestbookEntryButton"
    control="Text|Name"
  />
  <form:addvalidator
    class="EMailValidator"
    button="CreateGuestbookEntryButton"
    control="EMail"
  />
</html:form>