<@controller namespace="modules::guestbook::pres::documentcontroller" class="guestbook_display_v1_controller" file="guestbook_display_v1_controller" @>
<style type="text/css">
.guestbook_padding_background
{
  padding: 5px;
  background-color: #d6d7e8;
}
</style>
<html:placeholder name="Pager" />
<html:placeholder name="CreateEntry" />
<br />
<html:placeholder name="ControlGuestbook" />
<br />
<br />
<br />
<html:placeholder name="Content" />

<html:template name="CreateEntry_de">
  &raquo; Klicken Sie
  <a href="<template:placeholder name="Link" />" title="Eintrag hinzuf&uuml;gen!">
    hier
  </a>
  um einen Eintrag hinzuzuf&uuml;gen!
</html:template>

<html:template name="CreateEntry_en">
  &raquo; Please click
  <a href="<template:placeholder name="Link" />" title="Add new entry!">
    here
  </a>
  to add a new entry!
</html:template>

<html:template name="ControlGuestbook_Login_de">
  &raquo; Klicken Sie
  <a href="<template:placeholder name="Link" />" title="G&auml;stebuch administrieren!">
    hier
  </a>
  um das G&auml;stebuch zu administrieren!
</html:template>

<html:template name="ControlGuestbook_Login_en">
  &raquo; Please click
  <a href="<template:placeholder name="Link" />" title="Manage guestbook!">
    here
  </a>
  to manage the guestbook!
</html:template>

<html:template name="ControlGuestbook_Logout_de">
  &raquo; Klicken Sie
  <a href="<template:placeholder name="Link" />" title="Administrations-Modus verlassen!">
    hier
  </a>
  um den Administrations-Modus zu verlassen!
</html:template>

<html:template name="ControlGuestbook_Logout_en">
  &raquo; Please click
  <a href="<template:placeholder name="Link" />" title="Leave administration mode!">
    here
  </a>
  to leave the administration mode!
</html:template>

<html:template name="Entry">
  <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <div style="width: 100%;">
    <div style="background-color: white; border-bottom: 2px solid gray; padding-bottom: 3px;"><img src="/frontend/media/guestbook/elephant_small.png" alt="" border="0" />&nbsp;&nbsp;<strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.EntryNo" /> <template:placeholder name="ID" /></strong></div>
    <div class="guestbook_padding_background">
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Name" />:</strong> <template:placeholder name="Name" />
      <br />
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.EMail" />:</strong> <template:placeholder name="EMail" />
      <br />
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.City" />:</strong> <template:placeholder name="City" />
      <br />
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Website" />:</strong> <template:placeholder name="Website" />
      <br />
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.ICQ" />:</strong> <template:placeholder name="ICQ" />,
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.MSN" />:</strong> <template:placeholder name="MSN" />,
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Skype" />:</strong> <template:placeholder name="Skype" />,
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.AIM" />:</strong> <template:placeholder name="AIM" />,
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Yahoo" />:</strong> <template:placeholder name="Yahoo" />
    </div>
    <div class="guestbook_padding_background" style="background-color: white;">
      <template:placeholder name="Text" />
      <template:placeholder name="Comments" />
    </div>
    <div class="guestbook_padding_background" style="padding-top: 2px; padding-bottom: 2px;">
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Date" />:</strong> <template:placeholder name="Date" />, <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Time" />:</strong> <template:placeholder name="Time" />
    </div>
  </div>
  <div style="width: 100%; text-align: right;">
    <template:placeholder name="AdminAddComment" /> <template:placeholder name="AdminEdit" /> <template:placeholder name="AdminDelete" />
  </div>
  <br />
  <br />
</html:template>

<html:template name="Comment">
  <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
  <br />
  <div style="width: 100%; margin: 10px; margin-bottom: 2px;">
    <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Comment" />:</strong>
  </div>
  <div style="width: 98%; margin: 10px; margin-top: 2px; margin-bottom: 0px; margin-right: 0px; border: 1px solid #dddddd;">
    <div style="background-color: #dddddd; padding-left: 2px;">
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Title" />:</strong> <template:placeholder name="Title" />
    </div>
    <div style="padding: 5px;">
      <template:placeholder name="Text" />
    </div>
    <div style="background-color: #dddddd; padding-left: 2px;">
      <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Date" />:</strong> <template:placeholder name="Date" />, <strong><template:getstring namespace="modules::guestbook" config="guestbook_lang" entry="Text.Time" />:</strong> <template:placeholder name="Time" />
    </div>
  </div>
  <div style="width: 98%; text-align: right;">
    <template:placeholder name="AdminEditComment" /> <template:placeholder name="AdminDeleteComment" />
  </div>
</html:template>

<html:template name="AdminDelete">
  <a href="<template:placeholder name="Link" />" title="Beitrag l&ouml;schen!"><strong>[ del ]</strong></a>
</html:template>

<html:template name="AdminEdit">
  <a href="<template:placeholder name="Link" />" title="Beitrag bearbeiten!"><strong>[ edt ]</strong></a>
</html:template>

<html:template name="AdminAddComment">
  <a href="<template:placeholder name="Link" />" title="Kommentar hinzuf&uuml;gen!"><strong>[ cmt ]</strong></a>
</html:template>

<html:template name="AdminDeleteComment">
  <a href="<template:placeholder name="Link" />" title="Kommentar l&ouml;schen!"><strong>[ del ]</strong></a>
</html:template>

<html:template name="AdminEditComment">
  <a href="<template:placeholder name="Link" />" title="Kommentar bearbeiten!"><strong>[ edt ]</strong></a>
</html:template>