<@controller namespace="modules::calendar::pres::documentcontroller" file="calendar_v1_controller" class="calendar_v1_controller" @>
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; width: 75%; padding: 5px; vertical-align: top;">
      <font style="font-size: 20px; font-weight: bold;">Terminkalender</font>
      <br />
      <br />
      Der Terminkalender umfasst wichtige Veranstaltungen der Branche. Falls die hier aufgeführten Informationen nicht ausreichen,
      wenden Sie sich bitte an einen Berater. Nutzen Sie den nebenstehenden Kalender um die Events des Jahres zu finden.
      <br />
      <br />
      <html:placeholder name="Events" />
    </td>
    <td style="width: 22%; text-align: center; vertical-align: top; padding: 5px;">
      <center>
        <html:placeholder name="Content" />
      </center>
    </td>
  </tr>
</table>

<style>
.height20width160gray
{
   height: 20px;
   width: 160px;
   background-color: #dedede;
}

.tablestyle
{
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   vertical-align: middle;
}

.pagerarrows
{
   color: gray;
   text-decoration: none;
}

.width20borderbottom
{
   width: 20px;
   border-bottom: 1px dashed gray;
}

.width20gray
{
   width: 20px;
   background-color: #eeeeee;
}

a.pagerarrows:hover
{
   color: gray;
   text-decoration: none;
}

a.pagerarrows:active
{
   color: gray;
   text-decoration: none;
}

a.pagerarrows:link
{
   color: gray;
   text-decoration: none;
}

a.pagerarrows:visited
{
   color: gray;
   text-decoration: none;
}
</style>

<html:template name="Header">
  <table cellpadding="0" cellspacing="0" class="tablestyle">
    <tr class="height20width160gray">
      <td colspan="2" style="width: 40px; font-weight: bold; text-align: center; border-top: 1px dashed black; border-left: 1px dashed black;">
        <a href="<template:placeholder name="PrevMonth" />" title="Vorheriges Monat anzeigen!" class="pagerarrows">&lt;&lt;</a>
      </td>
      <td colspan="4" style="width: 80px; font-size: 14px; text-align: center; border-top: 1px dashed black;">
        <strong><template:placeholder name="Title" /></strong>
      </td>
      <td colspan="2" style="width: 40px; font-weight: bold; text-align: center; border-top: 1px dashed black; border-right: 1px dashed black;">
        <a href="<template:placeholder name="NextMonth" />" title="N&auml;chstes Monat anzeigen!" class="pagerarrows">&gt;&gt;</a>
      </td>
    </tr>
    <tr class="height20width160gray">
      <td colspan="8" style="text-align: center; border-bottom: 1px dashed black; border-right: 1px dashed black; border-left: 1px dashed black;">
        <template:placeholder name="TodayLink" />
      </td>
    </tr>
    <tr class="width20borderbottom" style="background-color: #eeeeee;">
      <td style="width: 20px;">
        &nbsp;
      </td>
      <td class="width20borderbottom">
        Mo
      </td>
      <td class="width20borderbottom">
        Di
      </td>
      <td class="width20borderbottom">
        Mi
      </td>
      <td class="width20borderbottom">
        Do
      </td>
      <td class="width20borderbottom">
        Fr
      </td>
      <td class="width20borderbottom">
        Sa
      </td>
      <td class="width20borderbottom">
        So
      </td>
    </tr>
</html:template>


<html:template name="Week">
    <tr style="height: 20px;">
      <td class="width20gray">
        <template:placeholder name="Week" />
      </td>
      <template:placeholder name="Days" />
    </tr>
</html:template>


<html:template name="Day">
      <td style="width: 20px; border-left: 1px dashed gray; border-bottom: 1px dashed gray;">
        <template:placeholder name="Day" />
      </td>
</html:template>

<html:template name="Day_Active">
      <td class="width20gray" style="border-left: 1px dashed gray; border-bottom: 1px dashed gray;">
        <template:placeholder name="Day" />
      </td>
</html:template>


<html:template name="Day_Left">
      <td style="width: 20px; border-left: 1px dashed gray; border-right: 1px dashed gray; border-bottom: 1px dashed gray;">
        <template:placeholder name="Day" />
      </td>
</html:template>


<html:template name="Day_Left_Active">
      <td class="width20gray" style="border-left: 1px dashed gray; border-right: 1px dashed gray; border-bottom: 1px dashed gray;">
        <template:placeholder name="Day" />
      </td>
</html:template>


<html:template name="TodayLink">
   <a href="<template:placeholder name="TodayLink" />" class="pagerarrows" title="Zum heutigen Tag wechseln!">Heute</a>
</html:template>


<html:template name="Footer">
  </table>
  <br />
</html:template>


<html:template name="EventLink">
  <a href="<template:placeholder name="Link" />" title="Event anzeigen!" class="pagerarrows"><strong><template:placeholder name="Text" /></strong></a>
</html:template>


<html:template name="Entry">
  <div style="border-top: 1px dashed gray; background-color: #eeeeee;">
    <strong>Titel:</strong> <template:placeholder name="Title" />
    <br />
    <br />
    <strong>Beschreibung:</strong>
    <br />
    <template:placeholder name="Description" />
  </div>
  <br />
</html:template>