<@controller
class="APF\modules\usermanagement\pres\documentcontroller\user\UserAddController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.add.headline" delimiter="."/>
</h3>
<p>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.add.intro.text" delimiter="."/>
</p>
<core:appendnode namespace="APF\modules\usermanagement\pres\templates\user" template="user_form"/>