<@controller
   namespace="modules::usermanagement::pres::documentcontroller::user"
   class="umgt_user_delete_controller"
@>
<core:addtaglib namespace="tools::form::taglib" class="HtmlFormTag" prefix="html" name="form" />
<h3><html:getstring
            namespace="modules::usermanagement::pres"
            config="labels.ini"
            entry="frontend.user.delete.headline"/></h3>
<p>
   <html:getstring
         name="DisplayName"
         namespace="modules::usermanagement::pres"
         config="labels.ini"
         entry="frontend.user.delete.confirmation.text"/>
</p>
<html:form name="UserDelNo" method="post">
   <div>
      <form:button name="No">
         <button:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.user.delete.button-no.label"/>
      </form:button>
   </div>
</html:form>
<html:form name="UserDelYes" method="post">
   <div>
      <form:button name="Yes">
         <button:getstring
               namespace="modules::usermanagement::pres"
               config="labels.ini"
               entry="frontend.user.delete.button-yes.label"/>
      </form:button>
   </div>
</html:form>