<@controller
class="APF\modules\usermanagement\pres\documentcontroller\user\UserDeleteController"
@>
<h3>
   <html:getstring
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.delete.headline" delimiter="."/>
</h3>
<p>
   <html:getstring
         name="DisplayName"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.delete.confirmation.text" delimiter="."/>
</p>
<html:form name="UserDelNo" method="post">
   <div>
      <form:button name="No">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.delete.button-no.label" delimiter="."/>
      </form:button>
   </div>
</html:form>
<html:form name="UserDelYes" method="post">
   <div>
      <form:button name="Yes">
         <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.delete.button-yes.label" delimiter="."/>
      </form:button>
   </div>
</html:form>