<@controller namespace="modules::usermanagement::pres::documentcontroller::user" class="umgt_details_controller" @>
<core:addtaglib namespace="tools::html::taglib" prefix="html" class="iterator" />
<h3>User details:</h3>
<html:template name="User">
  <template:placeholder name="FirstName" />, <template:placeholder name="LastName" />
  <br />
  <template:placeholder name="EMail" />
</html:template>

<h3>Groups:</h3>
<html:iterator name="Groups">
  <iterator:item getter="getProperty">
    * <em><item:placeholder name="DisplayName" /></em>
    <br />
  </iterator:item>
</html:iterator>

<h3>Roles:</h3>
<html:iterator name="Roles">
  <iterator:item getter="getProperty">
    * <em><item:placeholder name="DisplayName" /></em>
    <br />
  </iterator:item>
</html:iterator>
      
<h3>Objects:</h3>
<html:iterator name="Proxies">
   <ul>
   <iterator:item getter="getProperty">
      <item:addtaglib namespace="modules::usermanagement::pres::taglib" prefix="umgt" class="media" />
      <li>
         <umgt:media filename="cc-blockdevice2-128x128.png" title="Visibility definition" />
         App object id: <strong><item:placeholder name="AppObjectId" /></strong>,
         definition id: <strong><item:placeholder name="ProxyId" /></strong>,
         app object type: <em><item:placeholder name="AppProxyType" /></em>
      </li>
   </iterator:item>
   </ul>
</html:iterator>