<@controller
class="APF\modules\usermanagement\pres\documentcontroller\user\UserDetailsController"
@>
<h3>
   <html:getstring
         name="headline"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.details.headline" delimiter="."
         />
</h3>

<h4>
   <html:getstring
         name="headline"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.details.user-details.label" delimiter="."/>
</h4>
<html:template name="User">
   <p>
      ${FirstName}, ${LastName}
   </p>

   <p>
      ${EMail}
   </p>
</html:template>

<h4>
   <html:getstring
         name="headline"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.details.groups.label" delimiter="."/>
</h4>
<html:iterator name="Groups">
   <ul>
      <iterator:item>
         <li>
            <umgt:media filename="group.png">
               <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.user.details.group-img.label" delimiter="."
                     />
            </umgt:media>
            ${item->getDisplayName()}
         </li>
      </iterator:item>
   </ul>
</html:iterator>

<h4>
   <html:getstring
         name="headline"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.details.roles.label" delimiter="."/>
</h4>
<html:iterator name="Roles">
   <ul>
      <iterator:item>
         <li>
            <umgt:media filename="role.png">
               <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.user.details.role-img.label" delimiter="."
                     />
            </umgt:media>
            ${item->getDisplayName()}
         </li>
      </iterator:item>
   </ul>
</html:iterator>

<h4>
   <html:getstring
         name="headline"
         namespace="APF\modules\usermanagement\pres"
         config="labels.ini"
         entry="frontend.user.details.objects.label" delimiter="."/>
</h4>
<html:iterator name="Proxies">
   <ul>
      <iterator:item>
         <li>
            <umgt:media filename="visibility_def.png">
               <media:getstring
                     namespace="APF\modules\usermanagement\pres"
                     config="labels.ini"
                     entry="frontend.user.details.proxy-img.label" delimiter="."
                     />
            </umgt:media>

            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.user.details.app-obj-id.label" delimiter="."/>
            <strong>${item->getAppObjectId()}</strong>

            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.user.details.proxy-id.label" delimiter="."/>
            <strong>${item->getObjectId()}</strong>

            <html:getstring
                  namespace="APF\modules\usermanagement\pres"
                  config="labels.ini"
                  entry="frontend.user.details.permissions.label" delimiter="."/>
            <strong>${item->getReadPermission()}</strong>/<strong>${item->getWritePermission()}</strong>/<strong>${item->getLinkPermission()}</strong>/<strong>${item->getDeletePermission()}</strong>
         </li>
      </iterator:item>
   </ul>
</html:iterator>