<@controller
   namespace="modules::usermanagement::pres::documentcontroller::user"
   class="umgt_user_list_controller"
@>
<table class="vis-def">
   <thead>
      <tr>
         <td>&nbsp;</td>
         <td>Display name</td>
         <td>User name</td>
         <td>Group(s)</td>
         <td>Role(s)</td>
         <td>Action(s)</td>
      </tr>
   </thead>
   <tbody>
      <html:placeholder name="UserList"/>
   </tbody>
</table>

<html:template name="User">
   <template:addtaglib namespace="modules::usermanagement::pres::taglib" prefix="umgt" class="media"/>
   <tr>
      <td>
         <umgt:media filename="cc-personal-128x128.png" title="View user details" alt="View User Details"/>
      </td>
      <td>
         <template:placeholder name="DisplayName"/>
      </td>
      <td>
         <template:placeholder name="Username"/>
      </td>
      <td>
         <template:placeholder name="Groups"/>
      </td>
      <td>
         <template:placeholder name="Roles"/>
      </td>
      <td class="actions">
         <a href="<template:placeholder name=" LinkUserDetails" />">
            <umgt:media filename="cc-xmag-128x128.png" title="View user details" />
         </a>
         <a href="<template:placeholder name=" LinkUserEdit" />">
            <umgt:media filename="cc-package_settings-128x128.png" title="Edit User" />
         </a>
         <a href="<template:placeholder name=" LinkUserDelete" />">
            <umgt:media filename="cc-trashcan_empty2-128x128.png" title="Delete User" />
         </a>
         <a href="<template:placeholder name="AddUserToGroup" />">
            <umgt:media filename="cc-yast_kuser_add2group-128x128.png" title="Add user to group"/>
         </a>
         <a href="<template:placeholder name="RemoveUserFromGroup" />">
            <umgt:media filename="cc-yast_kuser_removefromgroup-128x128.png" title="Remove user from group"/>
         </a>
         <a href="<template:placeholder name="AssignRoleToUser" />">
            <umgt:media filename="cc-yast_sysadmin_add2role-128x128.png" title="Assign role to user" />
         </a>
         <a href="<template:placeholder name="RemoveRoleFromUser" />">
            <umgt:media filename="cc-yast_sysadmin_removefromrole-40x40.png" title="Remove role from user" />
         </a>
      </td>
   </tr>
</html:template>