<@controller namespace="modules::usermanagement::pres::documentcontroller::user" file="list_controller" class="list_controller" @>
<table cellpadding="3" cellspacing="0" border="0">
  <tr style="font-weight: bold; background-color: #eeeeee;">
    <td>First name</td>
    <td>Last name</td>
    <td>Username</td>
    <td>Action</td>
  </tr>
  <html:placeholder name="UserList" />

<core:addtaglib namespace="tools::html::taglib" prefix="html" class="iterator"/>
<html:iterator name="User">
  <iterator:item getter="getProperty">
    <tr>
      <td><item:placeholder name="FirstName" /></td>
      <td><item:placeholder name="LastName" /></td>
      <td><item:placeholder name="Username" /></td>
      <td>
        <a href="?mainview=user&userview=details&userid=<item:placeholder name="UserID" />" title="View user details">View user details</a>
        &nbsp;|&nbsp;
        <a href="?mainview=user&userview=edit&userid=<item:placeholder name="UserID" />" title="Edit user">Edit user</a>
        &nbsp;|&nbsp;
        <a href="?mainview=user&userview=delete&userid=<item:placeholder name="UserID" />" title="Delete user">Delete user</a>
        &nbsp;|&nbsp;
        <a href="?mainview=user&userview=add2group&userid=<item:placeholder name="UserID" />" title="Add to group">Add user to group</a>
        &nbsp;|&nbsp;
        <a href="?mainview=user&userview=remfromgroup&userid=<item:placeholder name="UserID" />" title="Remove from group">Remove from group</a>
      </td>
    </tr>
  </iterator:item>
</html:iterator>

</table>