<@controller namespace="modules::usermanagement::pres::documentcontroller::user" file="remfromgroup_controller" class="remfromgroup_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="Group" method="post">
  In order to remove the user from this group, please choose one of the following groups:
  <br />
  <br />
  <form:select name="Group" validate="true" button="Rem">
    <select:option value=""></select:option>
  </form:select>
  <br />
  <br />
  <form:button name="Rem" value="Remove" class="formfield"/>
</html:form>