<core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
<html:form name="UserForm" method="post">
   <div>
      <form:addvalidator
         class="APF\tools\form\validator\TextLengthValidator"
         control="FirstName|LastName|Username"
         button="UserButton"
      />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.first-name.label"/></label>
      <form:text name="FirstName" maxlength="100"/>

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.last-name.label"/></label>
      <form:text name="LastName" maxlength="100" />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.street-name.label"/></label>
      <form:text name="StreetName" maxlength="100" />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.street-number.label"/></label>
      <form:text name="StreetNumber" maxlength="100" />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.zip.label"/></label>
      <form:text name="ZIPCode" maxlength="100" />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.city.label"/></label>
      <form:text name="City" maxlength="100" />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.email.label"/></label>
      <form:text name="EMail" maxlength="100" />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.mobile.label"/></label>
      <form:text name="Mobile" maxlength="100" />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.user-name.label"/></label>
      <form:text name="Username" maxlength="100" />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.password.label"/></label>
      <form:password name="Password" optional="true" ref="Password2" maxlength="100" />

      <label><form:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.repeat.label"/></label>
      <form:password name="Password2" optional="true" maxlength="100" />
      <form:addvalidator
            class="APF\tools\form\validator\FieldCompareValidator"
            button="UserButton"
            control="Password"
            />
      <form:addvalidator
            class="APF\tools\form\validator\TextLengthValidator"
            button="UserButton"
            control="Password|Password2"
            />
      <p>
         <form:button name="UserButton">
            <button:getstring
               namespace="APF\modules\usermanagement\pres"
               config="labels.ini"
               entry="frontend.user.edit.form.button.label"
               />
         </form:button>
         <form:hidden name="userid" />
      </p>
   </div>
</html:form>