<@controller namespace="modules::kontakt4::pres::documentcontroller" file="kontakt_v4_controller" class="kontakt_v4_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring" />

<html:getstring namespace="modules::kontakt4" config="language" entry="formhint.text" />
<br />
<div style="text-align: left; padding-left: 80px; font-size: 12px;">
  <html:placeholder name="Inhalt" />
</div>

<html:form name="Kontakt" method="post">
  <form:valgroup name="FormValGroup">
    <br />
    <div style="width: 400px; border: 1px solid red; padding: 5px;">
      <img src="<valgroup:placeholder name="WarnImage" />" />&nbsp;<font style="font-size: 13px; font-weight: bold;"><valgroup:placeholder name="WarnText" />:</font>
      <br />
      <valgroup:validate type="text" field="AbsenderName" button="KontaktSenden" msginputreq="Contact.Sender.InputRequired" />
      <valgroup:validate type="text" field="AbsenderAdresse" button="KontaktSenden" msginputreq="Contact.EMail.InputRequired" msginputwrg="Contact.EMail.InputWrong" validator="EMail" />
      <valgroup:validate type="text" field="Betreff" button="KontaktSenden" msginputreq="Contact.Subject.InputRequired" />
      <valgroup:validate type="text" field="Text" button="KontaktSenden" msginputreq="Contact.Text.InputRequired" />
    </div>
    <br />
  </form:valgroup>
  <br />
  <span style="margin-right: <form:getstring namespace="modules::kontakt4" config="language" entry="form.person.margin" />px;"><form:getstring namespace="modules::kontakt4" config="language" entry="form.person" /></span><form:select name="Empfaenger" class="eingabe_feld" />
  <br />
  <br />
  <span style="margin-right: <form:getstring namespace="modules::kontakt4" config="language" entry="form.name.margin" />px;"><form:getstring namespace="modules::kontakt4" config="language" entry="form.name" /></span><form:text name="AbsenderName" class="eingabe_feld" style="width: 280px;" validate="true" button="KontaktSenden" />
  <br />
  <br />
  <span style="margin-right: <form:getstring namespace="modules::kontakt4" config="language" entry="form.email.margin" />px;"><form:getstring namespace="modules::kontakt4" config="language" entry="form.email" /></span><form:text name="AbsenderAdresse" class="eingabe_feld" style="width: 280px;" validate="true" validator="EMail" button="KontaktSenden" />
  <br />
  <br />
  <span style="margin-right: <form:getstring namespace="modules::kontakt4" config="language" entry="form.subject.margin" />px;"><form:getstring namespace="modules::kontakt4" config="language" entry="form.subject" /></span><form:text name="Betreff" class="eingabe_feld" style="width: 280px;" validate="true" button="KontaktSenden" />
  <br />
  <br />
  <form:getstring namespace="modules::kontakt4" config="language" entry="form.comment" />
  <br />
  <form:area name="Text" class="eingabe_feld" style="height: 200px; width: 400px; overflow: auto;" validate="true" button="KontaktSenden" />
  <br />
  <br />
  <form:getstring namespace="modules::kontakt4" config="language" entry="form.captcha" />
  <br />
  <form:addtaglib namespace="modules::captcha::pres::taglib" prefix="form" class="captcha" />
  <form:captcha text_class="eingabe_feld" validate="true" button="CreateGuestbookEntryButton"/>
  <br />
  <br />
  <form:button name="KontaktSenden" class="eingabe_feld" />
</html:form>