<@controller namespace="modules::usermanagement::pres::documentcontroller::permissionset" file="delete_controller" class="delete_controller" @>
Should this permission set really be deleted? <strong>Please note, that with the deletation of the
permission set, all permissions composed under it will be deleted as well!<strong>
<br />
<br />
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="PermissionSetDelNo" method="post">
  <form:button name="No" value="No" class="formfield"/>
</html:form>
<html:form name="PermissionSetDelYes" method="post">
  <form:button name="Yes" value="Yes" class="formfield"/>
</html:form>