<@controller namespace="modules::usermanagement::pres::documentcontroller::permissionset" file="detachfromrole_controller" class="umgt_detachfromrole_controller" @>
<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="Role" method="post">
  <form:addvalidator
    class="MultiSelectFieldValidator"
    button="Det"
    control="Role"
  />
  In order to detach the permission set from a role, please choose one of the following roles:
  <br />
  <br />
  <form:multiselect name="Role" size="5"/>
  <br />
  <br />
  <form:button name="Det" value="Detatch" class="formfield"/>
</html:form>
<html:template name="NoMoreRole">No more roles are assigned to this permission set!</html:template>