<@controller
class="APF\modules\comments\pres\controller\CommentCreateEntryController"
@>
<div class="cm--create">
   <div class="cm--create-head">
      <html:getstring namespace="APF\modules\comments" config="language.ini" entry="formhint.text.1" delimiter="."/>
      <a href="${back}#comments" title="<html:getstring namespace="APF\modules\comments" config="language.ini"
      entry="formhint.text.2.title" delimiter="." />"><strong>
      <html:getstring namespace="APF\modules\comments" config="language.ini" entry="formhint.text.2" delimiter="."/>
   </strong></a>
      <html:getstring namespace="APF\modules\comments" config="language.ini" entry="formhint.text.3" delimiter="."/>
   </div>
   <div class="cm--create-form">
      <html:form name="AddComment" method="post">
         <span><html:getstring namespace="APF\modules\comments" config="language.ini" entry="form.name" delimiter="."/>*</span>
         <form:text
               maxlength="100"
               name="Name"
               class="cm--create-element-name"
               />
         <form:addvalidator
               class="APF\tools\form\validator\TextLengthValidator"
               button="Save"
               control="Name|Comment"
               />
         <br/>
         <span><html:getstring namespace="APF\modules\comments" config="language.ini" entry="form.email" delimiter="."/>*</span>
         <form:text
               maxlength="100"
               name="EMail"
               class="cm--create-element-email"
               />
         <form:addvalidator
               class="APF\tools\form\validator\EMailValidator"
               button="Save"
               control="EMail"
               />
         <form:addfilter
               class="APF\tools\form\filter\EMailFilter"
               button="Save"
               control="EMail"
               />
         <br/>
         <br/>
         <html:getstring namespace="APF\modules\comments" config="language.ini" entry="form.comment" delimiter="."/>
         <br/>
         <form:area
               name="Comment"
               class="cm--create-element-comment"
               cols="50"
               rows="6"
               />
         <br/>
         <br/>
         <span><html:getstring namespace="APF\modules\comments" config="language.ini" entry="form.confirm" delimiter="."/>*</span>
         <br/>
         <br/>

         <form:captcha
               text_class="cm--create-element-captcha"
               name="Captcha"
               clearonerror="true"
               />
         <form:addvalidator
               class="APF\modules\captcha\pres\validator\CaptchaValidator"
               control="Captcha"
               button="Save"
               />
         <br/>
         <br/>
         <form:button name="Save" class="cm--create-element-button"/>
      </html:form>
   </div>
</div>