<@controller class="APF\modules\comments\pres\controller\CommentListingController" @>
<div class="cm--list">
   <div class="cm--list-head">
      <html:getstring namespace="APF\modules\comments" config="language.ini" entry="listing.text.1" /> <a rel="nofollow" href="${Link}#comments" title="<html:getstring namespace="APF\modules\comments" config="language.ini" entry="listing.text.2.title" />"><strong><html:getstring namespace="APF\modules\comments" config="language.ini" entry="listing.text.2" /></strong></a> <html:getstring namespace="APF\modules\comments" config="language.ini" entry="listing.text.3" />
   </div>
   <div class="cm--list-pager">
      ${Pager}
   </div>
   <div class="cm--list-items">
      ${Content}
   </div>
</div>
<html:template name="ArticleComment">
   <div class="cm--list-item">
      <div class="cm--list-item-head">
         <div class="cm--list-item-head-num">${Number}</div>
         <div class="cm--list-item-head-date">
            <span>${Name}</span>
            <em>${Date}, ${Time}</em>
         </div>
         <div style="clear: left;"></div>
      </div>
      <div class="cm--list-item-body">
         ${Comment}
      </div>
   </div>
</html:template>
<html:template name="NoEntries">
   <div class="cm--list-noentries">
      <html:getstring namespace="APF\modules\comments" config="language.ini" entry="noentries.text" />
   </div>
</html:template>