<@controller namespace="extensions::news::pres::documentcontroller" file="frontend_controller" class="frontend_controller" @>

<core:addtaglib namespace="tools::html::taglib" prefix="html" class="iterator" />
<html:iterator name="list">
    <div id="news">
        
        <div id="news-entries">
            <iterator:item>
                <div class="news-entry">
                    <div class="news-entry-title">
                        <item:placeholder name="title" />
                    </div>
                    <div class="news-entry-info">
                        <span class="news-entry-date">
                            <item:placeholder name="date" />
                        </span>
                        <item:placeholder name="author" />
                    </div>
                    <div class="news-entry-text">
                        <item:placeholder name="text" />
                    </div>
                </div>
            </iterator:item>
        </div>
        
        <iterator:placeholder name="pager" />
        
    </div>
</html:iterator>

<html:template name="author">
    <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
    <span class="news-entry-author">
        <span class="label"><template:getstring namespace="extensions::news" config="labels.ini" entry="Author" />: </span>
        <template:placeholder name="authorname" />
    </span>
</html:template>

<html:template name="pager">
    <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
    <div id="news-pager">
        <template:getstring namespace="extensions::news" config="labels.ini" entry="Page" />: <template:placeholder name="pages" />
    </div>
</html:template>

<html:template name="noentry">
    <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
    <div id="news-noentry">
        <template:getstring namespace="extensions::news" config="labels.ini" entry="NoEntry" />
    </div>
</html:template>